In [3]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

var_name=os.path.basename(parentdir)

var_name

'consumpinit_inen_energy_tj_per_tonne_production_textiles'

In [4]:
import pandas as pd
import numpy as np

df_countries=pd.read_csv("../row_data/Countries_ISO3.csv")
df_countries
df_country_continent = pd.read_csv("../row_data/countryContinent.csv",encoding="ISO-8859-1")
df_country_continent.dropna(how='any')
df_country_continent

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [5]:
IPPU_folder = 'prodinit_ippu_textiles_tonne'
IPPU_var = 'prodinit_ippu_textiles_tonne'
df_ippu_hist = pd.read_csv(grandparentdir+'/IPPU/'+IPPU_folder+'/input_to_sisepuede/historical/'+IPPU_var+'.csv')
df_ippu_proj = pd.read_csv(grandparentdir+'/IPPU/'+IPPU_folder+'/input_to_sisepuede/projected/'+IPPU_var+'.csv')

code_ippu = list(set(df_ippu_proj['location_code'].values))

years_all = range(min(df_ippu_hist['year'].values),max(df_ippu_proj['year'].values)+1)
c_y_ippu = []
for c in code_ippu:
    for y in years_all:
    
        try:
            ippu = df_ippu_hist.loc[(df_ippu_hist['location_code']==c) & (df_ippu_hist['year']==y),][IPPU_var].values[0]
            
        except:
            ippu = df_ippu_proj.loc[(df_ippu_proj['location_code']==c) & (df_ippu_proj['year']==y)][IPPU_var].values[0]
            
        c_y_ippu.append([c,y,ippu])

df_ippu_all = pd.DataFrame(c_y_ippu,columns=['iso_code3', 'Year', IPPU_var])
df_ippu_all

     iso_code3  Year  prodinit_ippu_textiles_tonne
0          KHM  2010                 133343.576087
1          KHM  2011                 170771.201743
2          KHM  2012                 182709.010285
3          KHM  2013                 193869.428359
4          KHM  2014                 214216.343843
...        ...   ...                           ...
7826       MDV  2046                   2400.983268
7827       MDV  2047                   2423.261816
7828       MDV  2048                   2445.747085
7829       MDV  2049                   2468.440993
7830       MDV  2050                   2491.345476

[7831 rows x 3 columns]

In [6]:
df_eei=pd.read_csv("../row_data/eei industry.csv")
df_eei

,COUNTRY,PRODUCT/FLOW,ENDUSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Australia,Oil and oil products (PJ),"Manufacturing [ISIC 10-18, 20-32]",130.43,106.35,104.18,106.50,118.77,125.35,127.31,128.88,136.56,129.94,136.44,165.71,185.91,158.38,160.02,121.34,106.70
1,Australia,Oil and oil products (PJ),Food and tobacco [ISIC 10-12],5.89,6.00,2.38,2.66,2.75,2.76,2.90,2.99,2.90,5.52,5.04,5.84,6.37,5.89,5.96,5.18,5.04
2,Australia,Oil and oil products (PJ),Textiles and leather [ISIC 13-15],0.48,0.48,0.48,0.48,0.38,0.95,0.95,0.98,0.95,0.77,0.75,0.76,0.75,0.94,0.95,0.77,0.76
3,Australia,Oil and oil products (PJ),Wood and wood products [ISIC 16],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Australia,Oil and oil products (PJ),Paper pulp and printing [ISIC 17-18],2.56,2.95,1.74,0.64,0.68,0.77,0.82,0.73,0.64,0.49,0.48,0.47,0.67,2.32,2.37,2.57,2.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12469,Ukraine,Steel production (10^6 t),Memo: Coke and refined petroleum products [ISI...,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12470,Ukraine,Steel production (10^6 t),"Agriculture, forestry and fishing [ISIC 01-03]",x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12471,Ukraine,Steel production (10^6 t),Mining [ISIC 05-09],x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12472,Ukraine,Steel production (10^6 t),Construction [ISIC 41-43],x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12473,Ukraine,Steel production (10^6 t),General activity data,31.77,33.11,34.05,36.93,38.74,38.64,40.89,42.83,37.28,29.86,33.43,35.33,32.98,32.77,27.17,22.97,24.22

In [7]:
#Cross Walk with IEA data:
industries_correspondence = {
  'electronics' : (0.5, 'Machinery [ISIC 25-28]'), #Electronics is ISIC 26 and 27, so let's say half of 25-28
  'plastic' : (0.5, 'Rubber and plastic [ISIC 22]'), # SEE BELOW
  'chemicals' : (1.0, 'Chemicals and chemical products [ISIC 20-21]'), #OK
  'cement' : (0.9, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'glass' : (0.05, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'other_product_manufacturing' : (1.0, 'Other manufacturing [ISIC 31-32]'), #OK
  'agriculture_and_livestock' : (1.0, 'Agriculture, forestry and fishing [ISIC 01-03]'), #OK
  'textiles' : (0.5, 'Textiles and leather [ISIC 13-15]'), #SEE BELOW
  'rubber_and_leather' : (0.5, 'Textiles and leather [ISIC 13-15]'), #+ AND 0.5  'Rubber and plastic [ISIC 22]'
  'metals' : (1.0, 'Basic metals [ISIC 24]'), #OK
  'lime_and_carbonite' : (0.05, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'paper' : (1.0, 'Paper pulp and printing [ISIC 17-18]'),
  # REMOVE 'recycled_wood' : (1.0, 'Wood and wood products [ISIC 16]') #I propose we leave this out entirely, unless we are doing all recyclables
}

In [8]:
df_enduse = df_eei.loc[(df_eei['PRODUCT/FLOW']=='Total final energy (PJ)') & 
                       (df_eei['ENDUSE']=='Textiles and leather [ISIC 13-15]')]
df_enduse

,COUNTRY,PRODUCT/FLOW,ENDUSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
149,Australia,Total final energy (PJ),Textiles and leather [ISIC 13-15],10.79,10.29,10.38,10.69,10.45,10.96,10.76,10.78,10.22,9.10,8.53,8.68,8.70,8.73,8.45,7.79,7.54
527,Austria,Total final energy (PJ),Textiles and leather [ISIC 13-15],5.66,6.18,5.46,5.03,4.86,4.96,4.75,4.58,4.24,3.82,3.84,3.71,3.66,3.70,2.77,2.80,2.92
905,Belgium,Total final energy (PJ),Textiles and leather [ISIC 13-15],16.42,15.69,15.07,14.40,14.54,8.61,13.07,16.64,10.78,8.84,9.51,9.05,8.81,8.92,7.64,8.03,7.88
1283,Canada,Total final energy (PJ),Textiles and leather [ISIC 13-15],18.77,17.75,17.35,16.32,15.27,12.94,11.68,11.03,9.53,7.33,7.84,7.63,7.93,8.66,7.23,6.65,6.67
1661,Czech Republic,Total final energy (PJ),Textiles and leather [ISIC 13-15],12.49,11.50,11.47,11.15,11.10,10.78,9.61,8.63,7.52,5.48,5.83,5.73,5.50,5.32,5.29,5.78,7.36
2039,Denmark,Total final energy (PJ),Textiles and leather [ISIC 13-15],2.32,2.35,2.27,2.16,2.15,1.51,1.43,1.20,1.22,1.13,1.17,1.08,0.81,0.80,0.71,0.71,0.71
2417,Finland,Total final energy (PJ),Textiles and leather [ISIC 13-15],2.36,2.28,2.13,2.07,1.91,1.70,1.76,1.73,1.81,1.49,1.21,1.30,1.57,1.37,1.22,1.10,0.97
2795,France,Total final energy (PJ),Textiles and leather [ISIC 13-15],29.36,30.27,28.20,27.24,25.15,24.02,24.62,19.96,19.23,15.12,13.86,14.31,13.15,13.59,12.55,12.81,12.40
3173,Germany,Total final energy (PJ),Textiles and leather [ISIC 13-15],38.77,38.24,36.50,36.50,32.59,31.99,30.00,29.72,25.39,21.32,23.30,24.19,23.29,20.76,19.88,21.93,20.19
3551,Greece,Total final energy (PJ),Textiles and leather [ISIC 13-15],8.64,8.54,8.03,8.01,7.24,5.91,5.41,5.71,7.08,3.92,3.72,3.20,1.93,1.82,1.38,1.31,1.73
3929,Hungary,Total final energy (PJ),Textiles and leather [ISIC 13-15],2.75,2.97,2.84,2.43,2.03,1.80,1.29,1.10,0.97,0.81,0.95,0.95,1.15,1.44,1.54,1.70,1.79
4307,Ireland,Total final energy (PJ),Textiles and leather [ISIC 13-15],2.83,2.89,2.22,1.84,1.28,1.31,0.70,0.52,0.57,0.52,0.62,0.59,0.56,0.58,0.57,0.60,0.62
4685,Italy,Total final energy (PJ),Textiles and leather [ISIC 13-15],113.36,112.52,113.77,114.06,106.94,99.77,94.53,79.88,69.29,57.96,56.11,49.88,50.28,48.85,47.63,46.33,46.00
5063,Japan,Total final energy (PJ),Textiles and leather [ISIC 13-15],75.91,73.96,72.92,68.45,67.86,73.14,67.67,58.72,47.31,44.75,43.08,42.97,40.91,37.52,37.08,34.60,38.34
5441,Korea,Total final energy (PJ),Textiles and leather [ISIC 13-15],177.11,171.57,156.31,151.63,153.04,139.34,127.86,123.04,111.37,111.82,107.59,101.95,93.83,84.97,84.12,80.72,81.03
5819,Luxembourg,Total final energy (PJ),Textiles and leather [ISIC 13-15],1.76,1.49,1.70,1.82,1.94,1.90,1.75,1.76,1.67,1.53,1.63,1.35,1.35,1.43,1.43,1.50,1.53
6197,Mexico,Total final energy (PJ),Textiles and leather [ISIC 13-15],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.26,0.24,0.22,0.23,0.24,0.25,0.26,0.27
6575,Netherlands,Total final energy (PJ),Textiles and leather [ISIC 13-15],8.37,7.81,7.49,7.00,6.23,5.19,4.79,4.83,4.64,4.34,4.88,4.32,4.34,4.37,3.66,3.71,4.04
6953,New Zealand,Total final energy (PJ),Textiles and leather [ISIC 13-15],2.20,2.13,2.22,2.14,2.26,2.20,1.98,1.87,1.74,1.38,1.31,1.10,1.01,1.07,1.17,1.19,1.17
7331,Poland,Total final energy (PJ),Textiles and leather [ISIC 13-15],16.95,16.66,15.46,14.16,12.86,11.42,9.61,8.72,7.19,5.50,5.42,4.48,4.38,4.84,5.11,4.89,5.21
7709,Portugal,Total final energy (PJ),Textiles and leather [ISIC 13-15],25.75,24.86,24.05,22.53,21.31,17.75,17.04,19.26,17.18,16.21,15.86,15.11,11.85,12.19,12.45,12.57,12.15
8087,Slovak Republic,Total final energy (PJ),Textiles and leather [ISIC 13-15],3.12,2.59,2.89,2.94,3.34,2.76,2.02,1.80,1.64,1.31,1.75,2.06,1.46,1.19,1.57,1.17,1.12
8465,Spain,Total final energy (PJ),Textiles and leather [ISIC 13-15],50.50,41.99,43.29,42.01,41.88,41.13,26.48,22.86,20.45,21.51,18.20,17.57,16.45,14.20,13.50,13.30,15.42
8843,Sweden,Total final energy (PJ),Textiles and leather [ISIC 13-15],2.86,3.12,2.77,2.67,2.61,2.05,1.63,1.50,1.77,1.18,1.30,1.06,0.84,0.82,0.89,0.95,1.04
9221,Switzerland,Total final energy (PJ),Textiles and leather [ISIC 13-15],4.11,4.15,3.36,3.06,3.13,2.73,2.82,2.75,2.75,2.27,2.44,2.20,2.22,2.17,2.10,2.04,1.79
9599,Turkey,Total final energy (PJ),Textiles and leather [ISIC 13-15],57.47,55.59,66.48,76.49,70.10,65.68,67.68,65.48,57.81,70.06,81.39,87.30,92.47,91.74,102.50,126.66,124.04
9977,United Kingdom,Total final energy (PJ),Textiles and leather [ISIC 13-15],45.90,46.63,45.01,44.55,40.12,41.23,40.57,38.38,34.85,29.87,30.39,30.60,29.24,29.34,28.30,27.70,26.45
10355,United States,Total final energy (PJ),Textiles and leather [ISIC 13-15],376.39,354.23,299.34,280.08,243.80,258.02,225.74,198.63,168.23,126.16,131.63,122.17,115.26,116.46,117.56,121.64,120.71
10733,Morocco,Total final energy (PJ),Textiles and leather [ISIC 13-15],1.85,1.32,1.39,1.41,4.08,4.34,4.29,4.21,4.65,4.41,4.75,5.15,5.26,5.02,4.75,4.68,4.39
11111,Armenia,Total final energy (PJ),Textiles and leather [ISIC 13-15],0.01,0.01,0.02,0.02,0.02,0.02,0.03,0.03,0.02,0.01,0.01,0.00,0.01,0.01,0.05,0.04,0.05
11489,Belarus,Total final energy (PJ),Textiles and leather [ISIC 13-15],8.56,8.17,7.44,7.57,8.07,8.12,7.90,7.29,7.79,6.97,8.59,8.25,7.81,7.59,6.84,6.06,6.15
11867,Republic of Moldova,Total final energy (PJ),Textiles and leather [ISIC 13-15],0.27,0.43,0.36,0.40,0.54,0.43,0.34,0.36,0.32,0.25,0.25,0.25,0.26,0.24,0.26,0.23,0.23
12245,Ukraine,Total final energy (PJ),Textiles and leather [ISIC 13-15],1.62,2.50,1.72,1.61,2.26,2.39,2.43,4.73,4.26,3.20,3.15,3.14,3.09,2.60,2.20,2.05,1.99

In [9]:
years_hist=range(2010,2017)
golbal_mean={}
for y in years_hist:
    m=[float(val) for val in df_enduse[str(y)].values]
    golbal_mean[y]=np.mean(m)
golbal_mean

{2010: 18.19242424242424,
 2011: 17.62272727272727,
 2012: 16.957878787878787,
 2013: 16.44090909090909,
 2014: 16.443939393939395,
 2015: 17.075757575757574,
 2016: 17.087878787878786}

In [10]:
sub_continents = ['Australia and New Zealand',
 'Caribbean',
 'Central America',
 'Central Asia',
 'Eastern Africa',
 'Eastern Asia',
 'Eastern Europe',
 'Melanesia',
 'Micronesia',
 'Middle Africa',
 'Northern Africa',
 'Northern America',
 'Northern Europe',
 'Polynesia',
 'South America',
 'South-Eastern Asia',
 'Southern Africa',
 'Southern Asia',
 'Southern Europe',
 'Western Africa',
 'Western Asia',
 'Western Europe']
coun_year=[]
for cont in sub_continents:
    for year in years_hist:
        coun_year.append([cont,year,0])
        
df_meanEEI = pd.DataFrame(coun_year, columns=['sub_region', 'Year','meanEEI'])

for year in years_hist:
    for cont in sub_continents:
        set1 = set(df_country_continent.loc[df_country_continent['sub_region']== cont]['country'].values)
        set2 = set(df_enduse['COUNTRY'].values)

        common_countries = set1.intersection(set2)
        #print(cont,common_countries)
        mean_array=[]
        for count in common_countries:
            mean_array.append(float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(year)].values[0]))
        if mean_array == []:
            mean_array = [0]
        #print(mean_array)
        df_meanEEI.loc[(df_meanEEI['sub_region']==cont) & (df_meanEEI['Year']==year),'meanEEI']=np.mean(mean_array)
    
df_meanEEI.dropna(how='any')
df_meanEEI = df_meanEEI.drop(df_meanEEI.index[(df_meanEEI == 0).any(axis=1)])

df_meanEEI

                    sub_region  Year   meanEEI
0    Australia and New Zealand  2010  4.920000
1    Australia and New Zealand  2011  4.890000
2    Australia and New Zealand  2012  4.855000
3    Australia and New Zealand  2013  4.900000
4    Australia and New Zealand  2014  4.810000
..                         ...   ...       ...
149             Western Europe  2012  8.117143
150             Western Europe  2013  7.848571
151             Western Europe  2014  7.147143
152             Western Europe  2015  7.545714
153             Western Europe  2016  7.250000

[70 rows x 3 columns]

In [11]:
#### HISTORICAL ######
iso3 = set(df_ippu_all['iso_code3'].values)
coun_year=[]
for iso3 in iso3:
    count = df_countries.loc[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years_hist:
        coun_year.append([count,iso3,year,0])
df_historical_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_textiles
0,Cambodia,KHM,2010,0
1,Cambodia,KHM,2011,0
2,Cambodia,KHM,2012,0
3,Cambodia,KHM,2013,0
4,Cambodia,KHM,2014,0
...,...,...,...,...
1332,Maldives,MDV,2012,0
1333,Maldives,MDV,2013,0
1334,Maldives,MDV,2014,0
1335,Maldives,MDV,2015,0
1336,Maldives,MDV,2016,0

In [14]:
fraction = 0.5
for c,y in zip(df_historical_out['iso_code3'].values,df_historical_out['Year'].values):
    
    tonne = df_ippu_all.loc[(df_ippu_all['iso_code3']==c)&(df_ippu_all['Year']==y)][IPPU_var].values[0]
    
    count = df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(y)].values[0])*1e3

        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        df_historical_out.loc[(df_historical_out['iso_code3'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato*fraction
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== count]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y]*1e3
            
        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        
        df_historical_out.loc[(df_historical_out['iso_code3'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato*fraction
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_textiles
0,Cambodia,KHM,2010,0.068216
1,Cambodia,KHM,2011,0.051597
2,Cambodia,KHM,2012,0.046407
3,Cambodia,KHM,2013,0.042402
4,Cambodia,KHM,2014,0.038382
...,...,...,...,...
1332,Maldives,MDV,2012,4.134163
1333,Maldives,MDV,2013,4.008131
1334,Maldives,MDV,2014,5.736077
1335,Maldives,MDV,2015,4.907787
1336,Maldives,MDV,2016,4.187424

In [15]:
#### Projected ######

years_proj=range(max(years_hist)+1,2051)

iso3 = set(df_ippu_all['iso_code3'].values)
coun_year=[]
for iso3 in iso3:
    count = df_countries.loc[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years_proj:
        coun_year.append([count,iso3,year,0])
        
df_projected_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_projected_out[var_name]=0
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_textiles
0,Cambodia,KHM,2017,0
1,Cambodia,KHM,2018,0
2,Cambodia,KHM,2019,0
3,Cambodia,KHM,2020,0
4,Cambodia,KHM,2021,0
...,...,...,...,...
6489,Maldives,MDV,2046,0
6490,Maldives,MDV,2047,0
6491,Maldives,MDV,2048,0
6492,Maldives,MDV,2049,0
6493,Maldives,MDV,2050,0

In [16]:
y_hist_max = max(years_hist)
for c,y in zip(df_projected_out['iso_code3'].values,df_projected_out['Year'].values):
    
    tonne = df_ippu_all.loc[(df_ippu_all['iso_code3']==c)&(df_ippu_all['Year']==y)][IPPU_var].values[0]
    
    count = df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(y_hist_max)].values[0])*1e3

        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        df_projected_out.loc[(df_projected_out['iso_code3'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato*fraction
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== count]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y_hist_max), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y_hist_max]*1e3
            
        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        
        df_projected_out.loc[(df_projected_out['iso_code3'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato*fraction
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_textiles
0,Cambodia,KHM,2017,0.029066
1,Cambodia,KHM,2018,0.026056
2,Cambodia,KHM,2019,0.024411
3,Cambodia,KHM,2020,0.027300
4,Cambodia,KHM,2021,0.027300
...,...,...,...,...
6489,Maldives,MDV,2046,3.558517
6490,Maldives,MDV,2047,3.525801
6491,Maldives,MDV,2048,3.493386
6492,Maldives,MDV,2049,3.461269
6493,Maldives,MDV,2050,3.429448

In [17]:
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')

In [18]:
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')