In [1]:
import pandas as pd

In [2]:
lvst_list = ['pigs', 'buffalo', 'cattle_dairy', 'cattle_nondairy', 'chickens', 'goats', 'horses', 'mules', 'sheep']
lvst_list

['pigs',
 'buffalo',
 'cattle_dairy',
 'cattle_nondairy',
 'chickens',
 'goats',
 'horses',
 'mules',
 'sheep']

In [3]:
def get_iran_data_only(path_name):
    df = pd.read_csv(path_name)
    df_iran_only = df[df.iso_code3 == 'IRN'].drop(columns=['Nation']).reset_index(drop=True)
    return df_iran_only


def create_df_dict():

    dataframes = {}

    for lvst_type in lvst_list:
        histdata_path = f'AFOLU/pop_lvst_initial_{lvst_type}/input_to_sisepuede/historical/pop_lvst_initial_{lvst_type}.csv'
        projdata_path =  f'AFOLU/pop_lvst_initial_{lvst_type}/input_to_sisepuede/projected/pop_lvst_initial_{lvst_type}.csv'
        histdata_iran_df = get_iran_data_only(histdata_path)
        projdata_iran_df = get_iran_data_only(projdata_path)
        projdata_iran_df = projdata_iran_df[projdata_iran_df['Year'] < 2023]

        concat_df = pd.concat([histdata_iran_df, projdata_iran_df])
        concat_df = concat_df.rename(columns={f'pop_lvst_initial_{lvst_type}':f'pop_{lvst_type}'})
        dataframes[lvst_type] = concat_df
    
    return dataframes

lvst_dataframes = create_df_dict()

In [4]:
lvst_dataframes['cattle'] = pd.merge(lvst_dataframes['cattle_dairy'], lvst_dataframes['cattle_nondairy'])
lvst_dataframes['cattle']

   iso_code3  Year  pop_cattle_dairy  pop_cattle_nondairy
0        IRN  2011         7612000.0            7612000.0
1        IRN  2012         7800000.0            7800000.0
2        IRN  2013         7936000.0            7936000.0
3        IRN  2014         4231993.0            4231993.0
4        IRN  2015         4572681.0            4572681.0
5        IRN  2016         5504972.0            5504972.0
6        IRN  2017         4879363.0            4879363.0
7        IRN  2018         5492708.0            5492708.0
8        IRN  2019         5505458.0            5505458.0
9        IRN  2020         5505458.0            5505458.0
10       IRN  2021         5505458.0            5505458.0
11       IRN  2022         5505458.0            5505458.0

In [5]:
lvst_dataframes['cattle'] = lvst_dataframes['cattle'].drop(columns='pop_cattle_nondairy')
lvst_dataframes['cattle'] = lvst_dataframes['cattle'].rename(columns={'pop_cattle_dairy':'pop_cattle'})
lvst_dataframes['cattle']

   iso_code3  Year  pop_cattle
0        IRN  2011   7612000.0
1        IRN  2012   7800000.0
2        IRN  2013   7936000.0
3        IRN  2014   4231993.0
4        IRN  2015   4572681.0
5        IRN  2016   5504972.0
6        IRN  2017   4879363.0
7        IRN  2018   5492708.0
8        IRN  2019   5505458.0
9        IRN  2020   5505458.0
10       IRN  2021   5505458.0
11       IRN  2022   5505458.0

In [6]:
for lvst_type in lvst_dataframes.keys():
    print(lvst_dataframes[lvst_type])

  iso_code3  Year  pop_pigs
0       IRN  2011       0.0
1       IRN  2012       0.0
2       IRN  2013       0.0
3       IRN  2014       0.0
4       IRN  2015       0.0
5       IRN  2016       0.0
6       IRN  2017       0.0
7       IRN  2018       0.0
8       IRN  2019       0.0
0       IRN  2020       0.0
1       IRN  2021       0.0
2       IRN  2022       0.0
  iso_code3  Year  pop_buffalo
0       IRN  2011     197000.0
1       IRN  2012     199000.0
2       IRN  2013     202000.0
3       IRN  2014     106517.0
4       IRN  2015     101056.0
5       IRN  2016     125143.0
6       IRN  2017     126765.0
7       IRN  2018     139073.0
8       IRN  2019     147632.0
0       IRN  2020     147632.0
1       IRN  2021     147632.0
2       IRN  2022     147632.0
  iso_code3  Year  pop_cattle_dairy
0       IRN  2011         7612000.0
1       IRN  2012         7800000.0
2       IRN  2013         7936000.0
3       IRN  2014         4231993.0
4       IRN  2015         4572681.0
5       IRN  2016         5504972.0
6       IRN  2017         4879363.0
7       IRN  2018         5492708.0
8       IRN  2019         5505458.0
0       IRN  2020         5505458.0
1       IRN  2021         5505458.0
2       IRN  2022         5505458.0
  iso_code3  Year  pop_cattle_nondairy
0       IRN  2011            7612000.0
1       IRN  2012            7800000.0
2       IRN  2013            7936000.0
3       IRN  2014            4231993.0
4       IRN  2015            4572681.0
5       IRN  2016            5504972.0
6       IRN  2017            4879363.0
7       IRN  2018            5492708.0
8       IRN  2019            5505458.0
0       IRN  2020            5505458.0
1       IRN  2021            5505458.0
2       IRN  2022            5505458.0
  iso_code3  Year  pop_chickens
0       IRN  2011      900000.0
1       IRN  2012      925000.0
2       IRN  2013      927000.0
3       IRN  2014      930000.0
4       IRN  2015      941837.0
5       IRN  2016      955047.0
6       IRN  2017      953000.0
7       IRN  2018      969715.0
8       IRN  2019      989042.0
0       IRN  2020      989042.0
1       IRN  2021      989042.0
2       IRN  2022      989042.0
  iso_code3  Year   pop_goats
0       IRN  2011  21221000.0
1       IRN  2012  21009000.0
2       IRN  2013  20591000.0
3       IRN  2014  20407600.0
4       IRN  2015  15918259.0
5       IRN  2016  16012869.0
6       IRN  2017  15711084.0
7       IRN  2018  15423461.0
8       IRN  2019  15034487.0
0       IRN  2020  15034487.0
1       IRN  2021  15034487.0
2       IRN  2022  15034487.0
  iso_code3  Year  pop_horses
0       IRN  2011    140000.0
1       IRN  2012    140000.0
2       IRN  2013    140000.0
3       IRN  2014    140000.0
4       IRN  2015    138611.0
5       IRN  2016    135310.0
6       IRN  2017    137974.0
7       IRN  2018    137298.0
8       IRN  2019    136860.0
0       IRN  2020    136860.0
1       IRN  2021    136860.0
2       IRN  2022    136860.0
  iso_code3  Year  pop_mules
0       IRN  2011  1600000.0
1       IRN  2012  1600000.0
2       IRN  2013  1600000.0
3       IRN  2014  1600000.0
4       IRN  2015  1593964.0
5       IRN  2016  1584213.0
6       IRN  2017  1538568.0
7       IRN  2018  1572248.0
8       IRN  2019  1565010.0
0       IRN  2020  1565010.0
1       IRN  2021  1565010.0
2       IRN  2022  1565010.0
  iso_code3  Year   pop_sheep
0       IRN  2011  46679000.0
1       IRN  2012  46212000.0
2       IRN  2013  45430000.0
3       IRN  2014  31420569.0
4       IRN  2015  44731757.0
5       IRN  2016  43757013.0
6       IRN  2017  40029687.0
7       IRN  2018  39998423.0
8       IRN  2019  41303611.0
0       IRN  2020  41303611.0
1       IRN  2021  41303611.0
2       IRN  2022  41303611.0
   iso_code3  Year  pop_cattle
0        IRN  2011   7612000.0
1        IRN  2012   7800000.0
2        IRN  2013   7936000.0
3        IRN  2014   4231993.0
4        IRN  2015   4572681.0
5        IRN  2016   5504972.0
6        IRN  2017   4879363.0
7        IRN  2018   5492708.0
8        IRN  2019   5505458.0
9        IRN  2020   5505458.0
10       IRN  2021   5505458.0
11       IRN  2022   5505458.0

In [7]:
validation_df = pd.read_csv('data_for_validation/FAOSTAT_data_en_10-3-2024.csv')
validation_df.head()

,Domain,Area,Element,Item,Year,Unit,Value
0,Crops and livestock products,Iran (Islamic Republic of),Stocks,Buffalo,2011,An,197000
1,Crops and livestock products,Iran (Islamic Republic of),Stocks,Buffalo,2012,An,199000
2,Crops and livestock products,Iran (Islamic Republic of),Stocks,Buffalo,2013,An,202000
3,Crops and livestock products,Iran (Islamic Republic of),Stocks,Buffalo,2014,An,106517
4,Crops and livestock products,Iran (Islamic Republic of),Stocks,Buffalo,2015,An,101056

In [8]:
validation_df = validation_df.drop(columns=['Domain', 'Unit', 'Area', 'Element'])
validation_df = validation_df.rename(columns={'Value':'sonya_fao_value'})
validation_df.head()

      Item  Year  sonya_fao_value
0  Buffalo  2011           197000
1  Buffalo  2012           199000
2  Buffalo  2013           202000
3  Buffalo  2014           106517
4  Buffalo  2015           101056

In [9]:
validation_df['Item'] = validation_df['Item'].apply(lambda x: 'pigs' if x == 'Swine / pigs' else x)
validation_df['Item'] = validation_df['Item'].apply(lambda x: 'mules' if x == 'Mules and hinnies' else x)
validation_df['Item'] = validation_df['Item'].str.lower()

In [10]:
lvst_list = list(validation_df['Item'].unique())
lvst_list

['buffalo', 'cattle', 'chickens', 'horses', 'mules', 'sheep', 'pigs']

In [11]:
for lvst_type in lvst_list:
    # print(validation_df[validation_df.Item ==  lvst_type]['Value'])
    lvst_dataframes[lvst_type] = pd.merge(lvst_dataframes[lvst_type], validation_df[validation_df['Item'] == lvst_type])
    lvst_dataframes[lvst_type]['value_difference'] = lvst_dataframes[lvst_type]['pop_' + lvst_type] - lvst_dataframes[lvst_type]['sonya_fao_value']
    lvst_dataframes[lvst_type] = lvst_dataframes[lvst_type].drop(columns='Item')
    print(lvst_dataframes[lvst_type])

   iso_code3  Year  pop_buffalo  sonya_fao_value  value_difference
0        IRN  2011     197000.0           197000               0.0
1        IRN  2012     199000.0           199000               0.0
2        IRN  2013     202000.0           202000               0.0
3        IRN  2014     106517.0           106517               0.0
4        IRN  2015     101056.0           101056               0.0
5        IRN  2016     125143.0           125143               0.0
6        IRN  2017     126765.0           126765               0.0
7        IRN  2018     139073.0           136062            3011.0
8        IRN  2019     147632.0           144962            2670.0
9        IRN  2020     147632.0           171156          -23524.0
10       IRN  2021     147632.0           157764          -10132.0
11       IRN  2022     147632.0           132644           14988.0
   iso_code3  Year  pop_cattle  sonya_fao_value  value_difference
0        IRN  2011   7612000.0          7612000               0.0
1        IRN  2012   7800000.0          7800000               0.0
2        IRN  2013   7936000.0          7936000               0.0
3        IRN  2014   4231993.0          4231993               0.0
4        IRN  2015   4572681.0          4572681               0.0
5        IRN  2016   5504972.0          5504972               0.0
6        IRN  2017   4879363.0          4879363               0.0
7        IRN  2018   5492708.0          5273236          219472.0
8        IRN  2019   5505458.0          5332346          173112.0
9        IRN  2020   5505458.0          5323974          181484.0
10       IRN  2021   5505458.0          5628000         -122542.0
11       IRN  2022   5505458.0          5625000         -119542.0
   iso_code3  Year  pop_chickens  sonya_fao_value  value_difference
0        IRN  2011      900000.0           900000               0.0
1        IRN  2012      925000.0           925000               0.0
2        IRN  2013      927000.0           927000               0.0
3        IRN  2014      930000.0           930000               0.0
4        IRN  2015      941837.0           941837               0.0
5        IRN  2016      955047.0           955047               0.0
6        IRN  2017      953000.0           966962          -13962.0
7        IRN  2018      969715.0           977326           -7611.0
8        IRN  2019      989042.0           969627           19415.0
9        IRN  2020      989042.0          1013306          -24264.0
10       IRN  2021      989042.0          1025090          -36048.0
11       IRN  2022      989042.0          1036874          -47832.0
   iso_code3  Year  pop_horses  sonya_fao_value  value_difference
0        IRN  2011    140000.0           140000               0.0
1        IRN  2012    140000.0           140000               0.0
2        IRN  2013    140000.0           140000               0.0
3        IRN  2014    140000.0           140000               0.0
4        IRN  2015    138611.0           138611               0.0
5        IRN  2016    135310.0           135310               0.0
6        IRN  2017    137974.0           132086            5888.0
7        IRN  2018    137298.0           129492            7806.0
8        IRN  2019    136860.0           131013            5847.0
9        IRN  2020    136860.0           131322            5538.0
10       IRN  2021    136860.0           130956            5904.0
11       IRN  2022    136860.0           130589            6271.0
   iso_code3  Year  pop_mules  sonya_fao_value  value_difference
0        IRN  2011  1600000.0           175000         1425000.0
1        IRN  2012  1600000.0           175000         1425000.0
2        IRN  2013  1600000.0           175000         1425000.0
3        IRN  2014  1600000.0           175000         1425000.0
4        IRN  2015  1593964.0           176501         1417463.0
5        IRN  2016  1584213.0           178523         1405690.0
6        IRN  2017  1538568.0           180322         1358246.0
7        IRN  2018  1572248.0           181356         1390892.0
8        IRN  2019  1565010.0           180923         1384087.0
9        IRN  2020  1565010.0           180187         1384823.0
10       IRN  2021  1565010.0           180420         1384590.0
11       IRN  2022  1565010.0           180681         1384329.0
   iso_code3  Year   pop_sheep  sonya_fao_value  value_difference
0        IRN  2011  46679000.0         46679000               0.0
1        IRN  2012  46212000.0         46212000               0.0
2        IRN  2013  45430000.0         45430000               0.0
3        IRN  2014  31420569.0         31420569               0.0
4        IRN  2015  44731757.0         44731757               0.0
5        IRN  2016  43757013.0         43757013               0.0
6        IRN  2017  40029687.0         40029687               0.0
7        IRN  2018  39998423.0         39998423               0.0
8        IRN  2019  41303611.0         41303611               0.0
9        IRN  2020  41303611.0         46587010        -5283399.0
10       IRN  2021  41303611.0         53868000       -12564389.0
11       IRN  2022  41303611.0         55582000       -14278389.0
   iso_code3  Year  pop_pigs  sonya_fao_value  value_difference
0        IRN  2011       0.0                0               0.0
1        IRN  2012       0.0                0               0.0
2        IRN  2013       0.0                0               0.0
3        IRN  2014       0.0                0               0.0
4        IRN  2015       0.0                0               0.0
5        IRN  2016       0.0                0               0.0
6        IRN  2017       0.0                0               0.0
7        IRN  2018       0.0                0               0.0
8        IRN  2019       0.0                0               0.0
9        IRN  2020       0.0                0               0.0
10       IRN  2021       0.0                0               0.0
11       IRN  2022       0.0                0               0.0