In [1]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

var_name=os.path.basename(parentdir)

var_name

'consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing'

In [2]:
import pandas as pd
import numpy as np

df_countries=pd.read_csv("../row_data/Countries_ISO3.csv")
df_countries
df_country_continent = pd.read_csv("../row_data/countryContinent.csv",encoding="ISO-8859-1")
df_country_continent.dropna(how='any')
df_country_continent

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [13]:
df_gdp_hist = pd.read_csv('../row_data/gdp_mmm_usd/input_to_sisepuede/historical/gdp_mmm_usd.csv')
df_gdp_proj = pd.read_csv('../row_data/gdp_mmm_usd/input_to_sisepuede/projected/gdp_mmm_usd.csv')

nation_gdp = list(set(df_gdp_proj['Nation'].values))

years_all = range(min(df_gdp_hist['Year'].values),max(df_gdp_proj['Year'].values)+1)
c_y_gdp = []
for c in nation_gdp:
    for y in years_all:
    
        try:
            gdp = df_gdp_hist.loc[(df_gdp_hist['Nation']==c) & (df_gdp_hist['Year']==y),]['gdp_mmm_usd'].values[0]
            
        except:
            gdp = df_gdp_proj.loc[(df_gdp_proj['Nation']==c) & (df_gdp_proj['Year']==y)]['gdp_mmm_usd'].values[0]
            
        c_y_gdp.append([c,y,gdp])

df_gdp_all = pd.DataFrame(c_y_gdp,columns=['Nation', 'Year', 'gdp_mmm_usd'])
df_gdp_all

       Nation  Year  gdp_mmm_usd
0     Jamaica  2010    21.722379
1     Jamaica  2011    22.120079
2     Jamaica  2012    22.517779
3     Jamaica  2013    22.915479
4     Jamaica  2014    23.313180
...       ...   ...          ...
7498   Serbia  2046   187.359639
7499   Serbia  2047   189.406111
7500   Serbia  2048   191.452583
7501   Serbia  2049   193.499055
7502   Serbia  2050   195.545526

[7503 rows x 3 columns]

In [14]:
df_eei=pd.read_csv("../row_data/eei industry.csv")
df_eei

,COUNTRY,PRODUCT/FLOW,ENDUSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Australia,Oil and oil products (PJ),"Manufacturing [ISIC 10-18, 20-32]",130.43,106.35,104.18,106.50,118.77,125.35,127.31,128.88,136.56,129.94,136.44,165.71,185.91,158.38,160.02,121.34,106.70
1,Australia,Oil and oil products (PJ),Food and tobacco [ISIC 10-12],5.89,6.00,2.38,2.66,2.75,2.76,2.90,2.99,2.90,5.52,5.04,5.84,6.37,5.89,5.96,5.18,5.04
2,Australia,Oil and oil products (PJ),Textiles and leather [ISIC 13-15],0.48,0.48,0.48,0.48,0.38,0.95,0.95,0.98,0.95,0.77,0.75,0.76,0.75,0.94,0.95,0.77,0.76
3,Australia,Oil and oil products (PJ),Wood and wood products [ISIC 16],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Australia,Oil and oil products (PJ),Paper pulp and printing [ISIC 17-18],2.56,2.95,1.74,0.64,0.68,0.77,0.82,0.73,0.64,0.49,0.48,0.47,0.67,2.32,2.37,2.57,2.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12469,Ukraine,Steel production (10^6 t),Memo: Coke and refined petroleum products [ISI...,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12470,Ukraine,Steel production (10^6 t),"Agriculture, forestry and fishing [ISIC 01-03]",x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12471,Ukraine,Steel production (10^6 t),Mining [ISIC 05-09],x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12472,Ukraine,Steel production (10^6 t),Construction [ISIC 41-43],x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12473,Ukraine,Steel production (10^6 t),General activity data,31.77,33.11,34.05,36.93,38.74,38.64,40.89,42.83,37.28,29.86,33.43,35.33,32.98,32.77,27.17,22.97,24.22

('Jamaica', 2010)

In [15]:
#Cross Walk with IEA data:
industries_correspondence = {
                'electronics' : (1.0, 'Machinery [ISIC 25-28]'), 
                'plastic' : (1.0, 'Rubber and plastic [ISIC 22]'), 
                'chemicals' : (1.0, 'Chemicals and chemical products [ISIC 20-21]'), 
                'cement' : (1.0, 'Of which: cement'),
                'glass' : (1.0, 'Non-metallic minerals [ISIC 23]'), 
                'other_product_manufacturing' : (1.0, 'Other manufacturing [ISIC 31-32]'), 
                'agriculture_and_livestock' : (1.0, 'Agriculture, forestry and fishing [ISIC 01-03]'), 
                'textiles' : (0.5, 'Textiles and leather [ISIC 13-15]'), 
                'rubber_and_leather' : (0.5, 'Textiles and leather [ISIC 13-15]'), 
                'metals' : (1.0, 'Basic metals [ISIC 24]'),  
                'lime_and_carbonite' : (1.0, 'Non-ferrous metals [ISIC 2420+2432]'), 
                'paper' : (1.0, 'Paper pulp and printing [ISIC 17-18]'),
                'recycled_wood' : (1.0, 'Wood and wood products [ISIC 16]') 
                }

In [16]:
df_enduse = df_eei.loc[(df_eei['PRODUCT/FLOW']=='Total final energy (PJ)') & 
                       (df_eei['ENDUSE']=='Other manufacturing [ISIC 31-32]')]
df_enduse

,COUNTRY,PRODUCT/FLOW,ENDUSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
161,Australia,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.50,0.57,0.77,1.34,1.34,1.74,1.74,1.84,1.78,2.03,1.13,1.23,1.22,0.89,0.85,0.85,0.89
539,Austria,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
917,Belgium,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1295,Canada,Total final energy (PJ),Other manufacturing [ISIC 31-32],517.93,475.87,481.44,482.22,496.32,504.45,489.65,499.62,480.87,440.55,437.28,452.32,464.35,482.14,455.43,434.98,420.61
1673,Czech Republic,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,4.87,5.03,4.22,4.00,3.94,4.93,3.93,3.59,3.75,3.24
2051,Denmark,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2429,Finland,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2807,France,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3185,Germany,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3563,Greece,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3941,Hungary,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.68,1.99,2.11,2.14
4319,Ireland,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4697,Italy,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5075,Japan,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5453,Korea,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5831,Luxembourg,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6209,Mexico,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6587,Netherlands,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6965,New Zealand,Total final energy (PJ),Other manufacturing [ISIC 31-32],5.04,9.67,9.39,13.27,6.12,3.48,4.46,5.80,6.44,5.06,2.82,2.19,1.43,2.95,2.98,1.50,1.42
7343,Poland,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
7721,Portugal,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8099,Slovak Republic,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8477,Spain,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8855,Sweden,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9233,Switzerland,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9611,Turkey,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9989,United Kingdom,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10367,United States,Total final energy (PJ),Other manufacturing [ISIC 31-32],175.84,155.17,134.13,125.68,119.07,115.19,118.68,118.02,113.20,102.57,80.14,79.17,78.40,77.07,79.10,79.87,78.57
10745,Morocco,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11123,Armenia,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.04,0.04
11501,Belarus,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11879,Republic of Moldova,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.04,0.11
12257,Ukraine,Total final energy (PJ),Other manufacturing [ISIC 31-32],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [17]:
years_hist=range(2010,2017)
golbal_mean={}
for y in years_hist:
    m=[float(val) for val in df_enduse[str(y)].values]
    golbal_mean[y]=np.mean(m)
golbal_mean

{2010: 15.92030303030303,
 2011: 16.32878787878788,
 2012: 16.676666666666666,
 2013: 17.23212121212121,
 2014: 16.483030303030304,
 2015: 15.852727272727275,
 2016: 15.364242424242423}

In [18]:
sub_continents = ['Australia and New Zealand',
 'Caribbean',
 'Central America',
 'Central Asia',
 'Eastern Africa',
 'Eastern Asia',
 'Eastern Europe',
 'Melanesia',
 'Micronesia',
 'Middle Africa',
 'Northern Africa',
 'Northern America',
 'Northern Europe',
 'Polynesia',
 'South America',
 'South-Eastern Asia',
 'Southern Africa',
 'Southern Asia',
 'Southern Europe',
 'Western Africa',
 'Western Asia',
 'Western Europe']
coun_year=[]
for cont in sub_continents:
    for year in years_hist:
        coun_year.append([cont,year,0])
        
df_meanEEI = pd.DataFrame(coun_year, columns=['sub_region', 'Year','meanEEI'])

for year in years_hist:
    for cont in sub_continents:
        set1 = set(df_country_continent.loc[df_country_continent['sub_region']== cont]['country'].values)
        set2 = set(df_enduse['COUNTRY'].values)

        common_countries = set1.intersection(set2)
        #print(cont,common_countries)
        mean_array=[]
        for count in common_countries:
            mean_array.append(float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(year)].values[0]))
        if mean_array == []:
            mean_array = [0]
        #print(mean_array)
        df_meanEEI.loc[(df_meanEEI['sub_region']==cont) & (df_meanEEI['Year']==year),'meanEEI']=np.mean(mean_array)
    
df_meanEEI.dropna(how='any')
df_meanEEI = df_meanEEI.drop(df_meanEEI.index[(df_meanEEI == 0).any(axis=1)])

df_meanEEI

                    sub_region  Year  meanEEI
0    Australia and New Zealand  2010    1.975
1    Australia and New Zealand  2011    1.710
2    Australia and New Zealand  2012    1.325
3    Australia and New Zealand  2013    1.920
4    Australia and New Zealand  2014    1.915
5    Australia and New Zealand  2015    1.175
6    Australia and New Zealand  2016    1.155
42              Eastern Europe  2010    0.800
43              Eastern Europe  2011    0.788
44              Eastern Europe  2012    0.986
45              Eastern Europe  2013    1.122
46              Eastern Europe  2014    1.116
47              Eastern Europe  2015    1.172
48              Eastern Europe  2016    1.076
77            Northern America  2010  258.710
78            Northern America  2011  265.745
79            Northern America  2012  271.375
80            Northern America  2013  279.605
81            Northern America  2014  267.265
82            Northern America  2015  257.425
83            Northern America  2016  249.590
145               Western Asia  2015    0.020
146               Western Asia  2016    0.020

In [22]:
#### HISTORICAL ######
countries = set(df_gdp_all['Nation'].values)
coun_year=[]
for count in countries:
    iso3 = df_gdp_hist.loc[df_gdp_hist['Nation']==count]['iso_code3'].values[0]
    for year in years_hist:
        coun_year.append([count,iso3,year,0])
df_historical_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing
0,Jamaica,JAM,2010,0
1,Jamaica,JAM,2011,0
2,Jamaica,JAM,2012,0
3,Jamaica,JAM,2013,0
4,Jamaica,JAM,2014,0
...,...,...,...,...
1276,Serbia,SRB,2012,0
1277,Serbia,SRB,2013,0
1278,Serbia,SRB,2014,0
1279,Serbia,SRB,2015,0
1280,Serbia,SRB,2016,0

In [25]:
for c,y in zip(df_historical_out['Nation'].values,df_historical_out['Year'].values):
    
    gdp = df_gdp_all.loc[(df_gdp_all['Nation']==c)&(df_gdp_all['Year']==y)]['gdp_mmm_usd'].values[0]
    
    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==c)][str(y)].values[0])*1e3

        dato=tj/gdp
        df_historical_out.loc[(df_historical_out['Nation'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== c]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y]*1e3
            
        dato=tj/gdp
        
        df_historical_out.loc[(df_historical_out['Nation'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing
0,Jamaica,JAM,2010,732.898672
1,Jamaica,JAM,2011,738.188482
2,Jamaica,JAM,2012,740.599964
3,Jamaica,JAM,2013,751.986064
4,Jamaica,JAM,2014,707.026268
...,...,...,...,...
1276,Serbia,SRB,2012,178.132585
1277,Serbia,SRB,2013,177.107190
1278,Serbia,SRB,2014,163.237136
1279,Serbia,SRB,2015,151.477116
1280,Serbia,SRB,2016,142.705894

In [27]:
#### Projected ######

years_proj=range(max(years_hist)+1,2051)

coun_year=[]
for count in countries:
    iso3 = df_gdp_hist.loc[df_gdp_hist['Nation']==count]['iso_code3'].values[0]
    for year in years_proj:
        coun_year.append([count,iso3,year,0])
        
df_projected_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_projected_out[var_name]=0
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing
0,Jamaica,JAM,2017,0
1,Jamaica,JAM,2018,0
2,Jamaica,JAM,2019,0
3,Jamaica,JAM,2020,0
4,Jamaica,JAM,2021,0
...,...,...,...,...
6217,Serbia,SRB,2046,0
6218,Serbia,SRB,2047,0
6219,Serbia,SRB,2048,0
6220,Serbia,SRB,2049,0
6221,Serbia,SRB,2050,0

In [34]:
y_hist_max = max(years_hist)
for c,y in zip(df_projected_out['Nation'].values,df_projected_out['Year'].values):
    
    gdp = df_gdp_all.loc[(df_gdp_all['Nation']==c)&(df_gdp_all['Year']==y)]['gdp_mmm_usd'].values[0]
    
    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==c)][str(2016)].values[0])*1e3

        dato=tj/gdp
        
        df_projected_out.loc[(df_projected_out['Nation'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== c]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== 2016), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[2016]*1e3
            
        dato=tj/gdp
        
        df_projected_out.loc[(df_projected_out['Nation'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing
0,Jamaica,JAM,2017,644.535838
1,Jamaica,JAM,2018,642.826066
2,Jamaica,JAM,2019,641.125341
3,Jamaica,JAM,2020,639.433592
4,Jamaica,JAM,2021,627.509755
...,...,...,...,...
6217,Serbia,SRB,2046,82.004014
6218,Serbia,SRB,2047,81.117987
6219,Serbia,SRB,2048,80.250902
6220,Serbia,SRB,2049,79.402158
6221,Serbia,SRB,2050,78.571178

In [35]:
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')

In [36]:
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')