In [1]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

var_name=os.path.basename(parentdir)

var_name

'consumpinit_inen_energy_tj_per_tonne_production_chemicals'

In [2]:
import pandas as pd
import numpy as np

df_countries=pd.read_csv("../row_data/Countries_ISO3.csv")
df_countries
df_country_continent = pd.read_csv("../row_data/countryContinent.csv",encoding="ISO-8859-1")
df_country_continent.dropna(how='any')
df_country_continent

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [3]:
IPPU_folder = 'prodinit_ippu_chemicals_tonne'
IPPU_var = 'prodinit_ippu_chemicals_tonne'
df_ippu_hist = pd.read_csv(grandparentdir+'/IPPU/'+IPPU_folder+'/input_to_sisepuede/historical/'+IPPU_var+'.csv')
df_ippu_proj = pd.read_csv(grandparentdir+'/IPPU/'+IPPU_folder+'/input_to_sisepuede/projected/'+IPPU_var+'.csv')

code_ippu = list(set(df_ippu_proj['location_code'].values))

years_all = range(min(df_ippu_hist['year'].values),max(df_ippu_proj['year'].values)+1)
c_y_ippu = []
for c in code_ippu:
    for y in years_all:
    
        try:
            ippu = df_ippu_hist.loc[(df_ippu_hist['location_code']==c) & (df_ippu_hist['year']==y),][IPPU_var].values[0]
            
        except:
            ippu = df_ippu_proj.loc[(df_ippu_proj['location_code']==c) & (df_ippu_proj['year']==y)][IPPU_var].values[0]
            
        c_y_ippu.append([c,y,ippu])

df_ippu_all = pd.DataFrame(c_y_ippu,columns=['iso_code3', 'Year', IPPU_var])
df_ippu_all

     iso_code3  Year  prodinit_ippu_chemicals_tonne
0          CUB  2010                   1.589983e+05
1          CUB  2011                   1.389236e+05
2          CUB  2012                   1.463107e+05
3          CUB  2013                   1.622659e+05
4          CUB  2014                   1.528563e+05
...        ...   ...                            ...
7826       JOR  2046                   2.411748e+07
7827       JOR  2047                   2.715903e+07
7828       JOR  2048                   3.058416e+07
7829       JOR  2049                   3.444125e+07
7830       JOR  2050                   3.878476e+07

[7831 rows x 3 columns]

In [4]:
df_eei=pd.read_csv("../row_data/eei industry.csv")
df_eei

,COUNTRY,PRODUCT/FLOW,ENDUSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Australia,Oil and oil products (PJ),"Manufacturing [ISIC 10-18, 20-32]",130.43,106.35,104.18,106.50,118.77,125.35,127.31,128.88,136.56,129.94,136.44,165.71,185.91,158.38,160.02,121.34,106.70
1,Australia,Oil and oil products (PJ),Food and tobacco [ISIC 10-12],5.89,6.00,2.38,2.66,2.75,2.76,2.90,2.99,2.90,5.52,5.04,5.84,6.37,5.89,5.96,5.18,5.04
2,Australia,Oil and oil products (PJ),Textiles and leather [ISIC 13-15],0.48,0.48,0.48,0.48,0.38,0.95,0.95,0.98,0.95,0.77,0.75,0.76,0.75,0.94,0.95,0.77,0.76
3,Australia,Oil and oil products (PJ),Wood and wood products [ISIC 16],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Australia,Oil and oil products (PJ),Paper pulp and printing [ISIC 17-18],2.56,2.95,1.74,0.64,0.68,0.77,0.82,0.73,0.64,0.49,0.48,0.47,0.67,2.32,2.37,2.57,2.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12469,Ukraine,Steel production (10^6 t),Memo: Coke and refined petroleum products [ISI...,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12470,Ukraine,Steel production (10^6 t),"Agriculture, forestry and fishing [ISIC 01-03]",x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12471,Ukraine,Steel production (10^6 t),Mining [ISIC 05-09],x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12472,Ukraine,Steel production (10^6 t),Construction [ISIC 41-43],x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12473,Ukraine,Steel production (10^6 t),General activity data,31.77,33.11,34.05,36.93,38.74,38.64,40.89,42.83,37.28,29.86,33.43,35.33,32.98,32.77,27.17,22.97,24.22

In [5]:
#Cross Walk with IEA data:
industries_correspondence = {
                'electronics' : (1.0, 'Machinery [ISIC 25-28]'), 
                'plastic' : (1.0, 'Rubber and plastic [ISIC 22]'), 
                'chemicals' : (1.0, 'Chemicals and chemical products [ISIC 20-21]'), 
                'cement' : (1.0, 'Of which: cement'),
                'glass' : (1.0, 'Non-metallic minerals [ISIC 23]'), 
                'other_product_manufacturing' : (1.0, 'Other manufacturing [ISIC 31-32]'), 
                'agriculture_and_livestock' : (1.0, 'Agriculture, forestry and fishing [ISIC 01-03]'), 
                'textiles' : (0.5, 'Textiles and leather [ISIC 13-15]'), 
                'rubber_and_leather' : (0.5, 'Textiles and leather [ISIC 13-15]'), 
                'metals' : (1.0, 'Basic metals [ISIC 24]'),  
                'lime_and_carbonite' : (1.0, 'Non-ferrous metals [ISIC 2420+2432]'), 
                'paper' : (1.0, 'Paper pulp and printing [ISIC 17-18]'),
                'recycled_wood' : (1.0, 'Wood and wood products [ISIC 16]') 
                }

In [6]:
df_enduse = df_eei.loc[(df_eei['PRODUCT/FLOW']=='Total final energy (PJ)') & 
                       (df_eei['ENDUSE']=='Chemicals and chemical products [ISIC 20-21]')]
df_enduse

,COUNTRY,PRODUCT/FLOW,ENDUSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
152,Australia,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],157.37,145.91,145.35,157.47,170.42,166.91,170.76,169.08,175.33,175.05,194.42,201.61,211.28,205.32,220.18,205.04,190.19
530,Austria,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],34.23,33.71,34.50,37.28,37.10,39.40,38.34,37.22,39.87,39.68,42.23,42.01,43.14,43.96,42.30,39.51,39.90
908,Belgium,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],131.87,131.33,131.58,133.87,131.62,138.15,138.94,146.06,136.83,165.71,171.27,158.78,157.77,174.10,172.58,175.38,181.36
1286,Canada,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],277.92,248.81,245.84,226.22,253.12,242.45,261.29,257.67,259.32,250.31,274.65,302.38,299.12,310.18,310.14,309.36,297.98
1664,Czech Republic,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],66.24,53.44,53.29,64.00,77.92,77.96,73.43,59.61,55.82,40.24,54.19,52.78,53.47,50.97,48.12,45.61,39.99
2042,Denmark,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],11.31,12.04,11.68,11.20,10.53,10.72,10.07,9.12,10.19,10.11,10.77,11.20,11.83,11.23,10.85,10.62,10.69
2420,Finland,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],35.78,36.46,38.16,41.70,42.05,39.60,39.09,42.63,42.87,38.85,40.93,42.77,41.91,43.96,40.66,41.65,43.43
2798,France,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],248.27,274.56,243.32,247.94,226.73,250.67,220.07,231.67,265.04,214.40,205.78,246.20,241.70,246.39,236.79,223.99,226.98
3176,Germany,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],466.39,453.75,459.40,463.25,463.89,480.19,516.05,562.86,582.60,528.36,587.95,594.90,594.59,572.58,577.73,583.17,592.52
3554,Greece,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],11.29,10.51,10.73,8.80,10.17,11.23,11.26,9.26,10.89,9.40,8.13,7.28,4.21,4.66,6.77,9.30,6.45
3932,Hungary,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],34.69,33.87,32.07,27.26,21.07,24.55,26.08,27.85,26.26,20.66,21.39,35.12,34.85,44.32,44.01,46.26,46.40
4310,Ireland,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],11.97,12.30,11.65,10.93,10.70,11.66,10.99,9.88,10.04,9.64,9.82,9.83,9.37,9.63,9.57,10.00,10.50
4688,Italy,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],258.01,222.45,222.40,241.29,232.28,227.12,216.86,237.58,197.55,182.75,177.59,171.59,172.17,173.19,155.86,137.83,146.81
5066,Japan,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],861.68,838.86,845.84,805.05,840.77,849.24,868.45,864.63,758.25,797.36,820.46,810.21,763.23,831.58,808.34,794.87,733.11
5444,Korea,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],265.27,263.13,254.17,279.44,309.21,319.38,318.94,335.23,304.67,287.74,335.48,381.46,359.77,382.89,386.60,344.68,333.25
5822,Luxembourg,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],1.63,1.57,1.59,2.51,2.65,2.87,2.47,2.40,2.07,1.67,1.91,2.40,2.56,2.95,2.45,2.18,2.39
6200,Mexico,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],290.93,244.99,205.40,180.83,185.33,182.03,186.74,197.63,197.67,174.10,186.89,186.69,190.10,203.83,186.90,157.31,158.92
6578,Netherlands,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],305.26,309.25,326.61,337.92,343.29,336.75,327.85,334.60,309.19,290.83,311.52,303.10,300.53,295.88,292.20,283.19,295.11
6956,New Zealand,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],33.78,31.55,34.61,19.21,18.38,8.53,9.32,9.26,11.22,14.94,15.92,14.66,18.66,22.47,33.08,27.98,31.96
7334,Poland,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],143.31,133.30,127.71,120.73,121.56,115.35,119.93,120.28,112.57,114.78,114.67,114.10,112.57,116.72,111.81,106.26,104.27
7712,Portugal,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],17.31,23.78,22.94,24.01,23.56,20.22,19.89,23.88,21.08,22.13,24.29,24.13,21.03,20.71,15.80,15.91,15.47
8090,Slovak Republic,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],27.51,25.02,27.32,22.20,19.42,20.97,17.34,18.26,21.16,14.77,14.19,13.72,17.71,12.51,11.39,16.48,17.05
8468,Spain,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],156.94,153.06,167.92,168.48,185.29,195.87,187.34,181.65,175.43,127.31,133.15,162.74,173.11,171.14,166.63,120.91,112.83
8846,Sweden,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],31.35,31.88,32.43,38.10,38.34,36.20,34.45,34.08,28.79,22.62,23.77,24.74,23.35,23.31,26.28,27.68,25.77
9224,Switzerland,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],25.72,27.52,27.46,29.35,29.76,31.92,32.65,31.82,31.66,29.23,30.23,30.50,34.29,31.91,28.31,28.89,30.20
9602,Turkey,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],59.26,54.67,61.45,69.87,96.02,100.92,95.81,72.91,46.97,52.31,67.35,93.62,98.37,85.93,90.83,123.39,122.88
9980,United Kingdom,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],291.12,290.21,291.20,272.57,236.10,220.83,211.24,201.12,203.67,168.58,174.94,156.73,151.31,149.68,135.42,134.27,134.88
10358,United States,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],4055.64,3820.66,3806.26,3556.88,3554.09,3300.12,2714.27,2724.31,2750.59,2434.05,2873.75,2573.81,2508.48,2485.27,2586.26,2498.99,2761.11
10736,Morocco,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],1.42,2.78,2.82,3.28,4.97,5.33,5.47,5.56,6.04,5.85,6.20,6.55,6.72,6.49,6.34,6.37,6.23
11114,Armenia,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],0.78,0.68,0.47,0.35,0.51,0.54,0.75,0.99,0.75,0.39,0.42,0.25,0.26,0.27,0.30,0.20,0.12
11492,Belarus,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],55.23,54.96,53.70,54.83,55.29,55.80,55.57,56.98,56.11,40.01,45.32,42.34,39.93,37.81,40.97,40.25,40.29
11870,Republic of Moldova,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],0.06,0.12,0.07,0.08,0.15,0.16,0.19,0.15,0.15,0.14,0.14,0.17,0.15,0.19,0.22,0.21,0.21
12248,Ukraine,Total final energy (PJ),Chemicals and chemical products [ISIC 20-21],23.34,20.30,21.59,22.39,49.79,50.01,48.84,125.26,109.38,71.37,87.92,111.98,101.14,74.86,48.50,41.81,42.20

In [7]:
years_hist=range(2010,2017)
golbal_mean={}
for y in years_hist:
    m=[float(val) for val in df_enduse[str(y)].values]
    golbal_mean[y]=np.mean(m)
golbal_mean

{2010: 214.1709090909091,
 2011: 210.01060606060605,
 2012: 206.0206060606061,
 2013: 207.48151515151517,
 2014: 207.7027272727273,
 2015: 200.28939393939393,
 2016: 206.10454545454544}

In [8]:
sub_continents = ['Australia and New Zealand',
 'Caribbean',
 'Central America',
 'Central Asia',
 'Eastern Africa',
 'Eastern Asia',
 'Eastern Europe',
 'Melanesia',
 'Micronesia',
 'Middle Africa',
 'Northern Africa',
 'Northern America',
 'Northern Europe',
 'Polynesia',
 'South America',
 'South-Eastern Asia',
 'Southern Africa',
 'Southern Asia',
 'Southern Europe',
 'Western Africa',
 'Western Asia',
 'Western Europe']
coun_year=[]
for cont in sub_continents:
    for year in years_hist:
        coun_year.append([cont,year,0])
        
df_meanEEI = pd.DataFrame(coun_year, columns=['sub_region', 'Year','meanEEI'])

for year in years_hist:
    for cont in sub_continents:
        set1 = set(df_country_continent.loc[df_country_continent['sub_region']== cont]['country'].values)
        set2 = set(df_enduse['COUNTRY'].values)

        common_countries = set1.intersection(set2)
        #print(cont,common_countries)
        mean_array=[]
        for count in common_countries:
            mean_array.append(float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(year)].values[0]))
        if mean_array == []:
            mean_array = [0]
        #print(mean_array)
        df_meanEEI.loc[(df_meanEEI['sub_region']==cont) & (df_meanEEI['Year']==year),'meanEEI']=np.mean(mean_array)
    
df_meanEEI.dropna(how='any')
df_meanEEI = df_meanEEI.drop(df_meanEEI.index[(df_meanEEI == 0).any(axis=1)])

df_meanEEI

                    sub_region  Year     meanEEI
0    Australia and New Zealand  2010  105.170000
1    Australia and New Zealand  2011  108.135000
2    Australia and New Zealand  2012  114.970000
3    Australia and New Zealand  2013  113.895000
4    Australia and New Zealand  2014  126.630000
..                         ...   ...         ...
149             Western Europe  2012  196.368571
150             Western Europe  2013  195.395714
151             Western Europe  2014  193.194286
152             Western Europe  2015  190.901429
153             Western Europe  2016  195.494286

[70 rows x 3 columns]

In [9]:
#### HISTORICAL ######
iso3 = set(df_ippu_all['iso_code3'].values)
coun_year=[]
for iso3 in iso3:
    count = df_countries.loc[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years_hist:
        coun_year.append([count,iso3,year,0])
df_historical_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_chemicals
0,Cuba,CUB,2010,0
1,Cuba,CUB,2011,0
2,Cuba,CUB,2012,0
3,Cuba,CUB,2013,0
4,Cuba,CUB,2014,0
...,...,...,...,...
1332,Turkiye,TUR,2012,0
1333,Turkiye,TUR,2013,0
1334,Turkiye,TUR,2014,0
1335,Turkiye,TUR,2015,0
1336,Turkiye,TUR,2016,0

In [10]:
for c,y in zip(df_historical_out['iso_code3'].values,df_historical_out['Year'].values):
    
    tonne = df_ippu_all.loc[(df_ippu_all['iso_code3']==c)&(df_ippu_all['Year']==y)][IPPU_var].values[0]
    
    count = df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(y)].values[0])*1e3

        dato=tj/tonne
        df_historical_out.loc[(df_historical_out['iso_code3'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== count]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y]*1e3
            
        dato=tj/tonne
        
        df_historical_out.loc[(df_historical_out['iso_code3'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_chemicals
0,Cuba,CUB,2010,1.347002
1,Cuba,CUB,2011,1.511699
2,Cuba,CUB,2012,1.408104
3,Cuba,CUB,2013,1.278651
4,Cuba,CUB,2014,1.358810
...,...,...,...,...
1332,Turkiye,TUR,2012,0.056692
1333,Turkiye,TUR,2013,0.052568
1334,Turkiye,TUR,2014,0.048285
1335,Turkiye,TUR,2015,0.046510
1336,Turkiye,TUR,2016,0.047220

In [11]:
#### Projected ######

years_proj=range(max(years_hist)+1,2051)

iso3 = set(df_ippu_all['iso_code3'].values)
coun_year=[]
for iso3 in iso3:
    count = df_countries.loc[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years_proj:
        coun_year.append([count,iso3,year,0])
        
df_projected_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_projected_out[var_name]=0
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_chemicals
0,Cuba,CUB,2017,0
1,Cuba,CUB,2018,0
2,Cuba,CUB,2019,0
3,Cuba,CUB,2020,0
4,Cuba,CUB,2021,0
...,...,...,...,...
6489,Turkiye,TUR,2046,0
6490,Turkiye,TUR,2047,0
6491,Turkiye,TUR,2048,0
6492,Turkiye,TUR,2049,0
6493,Turkiye,TUR,2050,0

In [12]:
y_hist_max = max(years_hist)
for c,y in zip(df_projected_out['iso_code3'].values,df_projected_out['Year'].values):
    
    tonne = df_ippu_all.loc[(df_ippu_all['iso_code3']==c)&(df_ippu_all['Year']==y)][IPPU_var].values[0]
    
    count = df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(y_hist_max)].values[0])*1e3

        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        df_projected_out.loc[(df_projected_out['iso_code3'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== count]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y_hist_max), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y_hist_max]*1e3
            
        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        
        df_projected_out.loc[(df_projected_out['iso_code3'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_chemicals
0,Cuba,CUB,2017,1.058675
1,Cuba,CUB,2018,1.143232
2,Cuba,CUB,2019,1.381801
3,Cuba,CUB,2020,1.185081
4,Cuba,CUB,2021,1.185080
...,...,...,...,...
6489,Turkiye,TUR,2046,0.031950
6490,Turkiye,TUR,2047,0.031375
6491,Turkiye,TUR,2048,0.030811
6492,Turkiye,TUR,2049,0.030257
6493,Turkiye,TUR,2050,0.029713

In [13]:
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')

In [14]:
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')