In [5]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

var_name=os.path.basename(parentdir)

var_name

'consumpinit_inen_energy_tj_per_tonne_production_recycled_wood'

In [6]:
import pandas as pd
import numpy as np

df_countries=pd.read_csv("../row_data/Countries_ISO3.csv")
df_countries
df_country_continent = pd.read_csv("../row_data/countryContinent.csv",encoding="ISO-8859-1")
df_country_continent.dropna(how='any')
df_country_continent

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [11]:
IPPU_folder = 'prodinit_ippu_paper_tonne'
IPPU_var = 'prodinit_ippu_paper_tonne'
df_ippu_hist = pd.read_csv(grandparentdir+'/IPPU/'+IPPU_folder+'/input_to_sisepuede/historical/'+IPPU_var+'.csv')
df_ippu_proj = pd.read_csv(grandparentdir+'/IPPU/'+IPPU_folder+'/input_to_sisepuede/projected/'+IPPU_var+'.csv')

code_ippu = list(set(df_ippu_proj['location_code'].values))

years_all = range(min(df_ippu_hist['year'].values),max(df_ippu_proj['year'].values)+1)
c_y_ippu = []
for c in code_ippu:
    for y in years_all:
    
        try:
            ippu = df_ippu_hist.loc[(df_ippu_hist['location_code']==c) & 
                                    (df_ippu_hist['year']==y),][IPPU_var].values[0]/1000
            
        except:
            ippu = df_ippu_proj.loc[(df_ippu_proj['location_code']==c) & 
                                    (df_ippu_proj['year']==y)][IPPU_var].values[0]/1000
            
        c_y_ippu.append([c,y,ippu])

df_ippu_all = pd.DataFrame(c_y_ippu,columns=['iso_code3', 'Year', IPPU_var])
df_ippu_all

     iso_code3  Year  prodinit_ippu_paper_tonne
0          PYF  2010                  20.746614
1          PYF  2011                  20.746614
2          PYF  2012                  20.746614
3          PYF  2013                  20.746614
4          PYF  2014                  20.746614
...        ...   ...                        ...
7826       FRO  2046                  22.502816
7827       FRO  2047                  22.956823
7828       FRO  2048                  23.419989
7829       FRO  2049                  23.892500
7830       FRO  2050                  24.374544

[7831 rows x 3 columns]

In [12]:
df_eei=pd.read_csv("../row_data/eei industry.csv")
df_eei

,COUNTRY,PRODUCT/FLOW,ENDUSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Australia,Oil and oil products (PJ),"Manufacturing [ISIC 10-18, 20-32]",130.43,106.35,104.18,106.50,118.77,125.35,127.31,128.88,136.56,129.94,136.44,165.71,185.91,158.38,160.02,121.34,106.70
1,Australia,Oil and oil products (PJ),Food and tobacco [ISIC 10-12],5.89,6.00,2.38,2.66,2.75,2.76,2.90,2.99,2.90,5.52,5.04,5.84,6.37,5.89,5.96,5.18,5.04
2,Australia,Oil and oil products (PJ),Textiles and leather [ISIC 13-15],0.48,0.48,0.48,0.48,0.38,0.95,0.95,0.98,0.95,0.77,0.75,0.76,0.75,0.94,0.95,0.77,0.76
3,Australia,Oil and oil products (PJ),Wood and wood products [ISIC 16],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Australia,Oil and oil products (PJ),Paper pulp and printing [ISIC 17-18],2.56,2.95,1.74,0.64,0.68,0.77,0.82,0.73,0.64,0.49,0.48,0.47,0.67,2.32,2.37,2.57,2.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12469,Ukraine,Steel production (10^6 t),Memo: Coke and refined petroleum products [ISI...,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12470,Ukraine,Steel production (10^6 t),"Agriculture, forestry and fishing [ISIC 01-03]",x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12471,Ukraine,Steel production (10^6 t),Mining [ISIC 05-09],x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12472,Ukraine,Steel production (10^6 t),Construction [ISIC 41-43],x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12473,Ukraine,Steel production (10^6 t),General activity data,31.77,33.11,34.05,36.93,38.74,38.64,40.89,42.83,37.28,29.86,33.43,35.33,32.98,32.77,27.17,22.97,24.22

In [13]:
#Cross Walk with IEA data:
industries_correspondence = {
                'electronics' : (1.0, 'Machinery [ISIC 25-28]'), 
                'plastic' : (1.0, 'Rubber and plastic [ISIC 22]'), 
                'chemicals' : (1.0, 'Chemicals and chemical products [ISIC 20-21]'), 
                'cement' : (1.0, 'Of which: cement'),
                'glass' : (1.0, 'Non-metallic minerals [ISIC 23]'), 
                'other_product_manufacturing' : (1.0, 'Other manufacturing [ISIC 31-32]'), 
                'agriculture_and_livestock' : (1.0, 'Agriculture, forestry and fishing [ISIC 01-03]'), 
                'textiles' : (0.5, 'Textiles and leather [ISIC 13-15]'), 
                'rubber_and_leather' : (0.5, 'Textiles and leather [ISIC 13-15]'), 
                'metals' : (1.0, 'Basic metals [ISIC 24]'),  
                'lime_and_carbonite' : (1.0, 'Non-ferrous metals [ISIC 2420+2432]'), 
                'paper' : (1.0, 'Paper pulp and printing [ISIC 17-18]'),
                'recycled_wood' : (1.0, 'Wood and wood products [ISIC 16]') 
                }

In [14]:
df_enduse = df_eei.loc[(df_eei['PRODUCT/FLOW']=='Total final energy (PJ)') & 
                       (df_eei['ENDUSE']=='Wood and wood products [ISIC 16]')]
df_enduse

,COUNTRY,PRODUCT/FLOW,ENDUSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
150,Australia,Total final energy (PJ),Wood and wood products [ISIC 16],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
528,Austria,Total final energy (PJ),Wood and wood products [ISIC 16],12.91,13.48,13.57,15.22,16.14,19.71,21.07,25.11,23.29,22.93,24.60,25.95,28.05,32.16,27.20,27.29,28.28
906,Belgium,Total final energy (PJ),Wood and wood products [ISIC 16],6.95,7.62,7.30,8.51,9.02,11.35,11.77,10.33,9.57,7.49,10.06,9.83,9.35,9.47,8.96,10.26,10.18
1284,Canada,Total final energy (PJ),Wood and wood products [ISIC 16],55.22,44.16,48.59,41.80,44.15,45.87,46.04,48.89,50.94,44.71,54.88,56.64,57.42,52.25,53.41,54.13,50.75
1662,Czech Republic,Total final energy (PJ),Wood and wood products [ISIC 16],3.90,5.88,6.38,7.76,8.51,8.84,8.92,8.33,9.30,8.67,9.04,7.94,8.83,9.04,8.78,9.42,9.58
2040,Denmark,Total final energy (PJ),Wood and wood products [ISIC 16],5.36,5.02,4.03,3.61,3.62,3.63,3.85,4.27,4.19,3.48,3.66,3.88,3.27,2.44,2.15,2.69,3.05
2418,Finland,Total final energy (PJ),Wood and wood products [ISIC 16],19.10,20.03,22.04,22.46,23.17,24.91,25.28,28.10,22.98,20.82,23.32,24.20,23.35,22.74,21.39,20.46,21.61
2796,France,Total final energy (PJ),Wood and wood products [ISIC 16],15.90,16.35,16.16,17.56,17.96,19.39,18.47,19.78,24.15,25.43,25.21,20.97,21.85,24.55,21.94,24.27,23.84
3174,Germany,Total final energy (PJ),Wood and wood products [ISIC 16],36.09,36.96,38.32,46.76,58.43,68.13,58.10,63.14,57.60,68.09,77.65,88.14,90.92,85.36,93.92,92.19,93.63
3552,Greece,Total final energy (PJ),Wood and wood products [ISIC 16],1.99,1.72,1.67,2.00,1.99,2.10,2.08,2.32,2.16,1.84,2.02,2.29,1.57,1.22,1.03,1.29,0.97
3930,Hungary,Total final energy (PJ),Wood and wood products [ISIC 16],2.70,2.71,2.61,2.37,2.36,2.35,2.12,2.51,2.30,1.15,1.45,1.66,2.05,2.62,2.32,2.57,3.09
4308,Ireland,Total final energy (PJ),Wood and wood products [ISIC 16],5.61,6.11,6.17,4.23,5.06,6.24,6.39,5.83,5.14,4.96,5.80,5.56,5.59,5.82,6.15,6.52,6.50
4686,Italy,Total final energy (PJ),Wood and wood products [ISIC 16],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5064,Japan,Total final energy (PJ),Wood and wood products [ISIC 16],34.26,34.15,39.02,39.48,43.81,45.21,41.53,40.27,35.58,33.35,34.85,32.01,32.95,33.92,30.92,31.75,32.08
5442,Korea,Total final energy (PJ),Wood and wood products [ISIC 16],8.99,8.39,9.46,9.51,10.41,10.93,10.76,11.70,11.31,11.74,11.77,10.15,10.18,10.74,15.25,16.75,15.29
5820,Luxembourg,Total final energy (PJ),Wood and wood products [ISIC 16],0.10,0.09,0.10,0.11,0.12,0.99,0.94,1.00,1.05,0.83,0.94,0.84,0.73,0.77,0.95,0.93,0.96
6198,Mexico,Total final energy (PJ),Wood and wood products [ISIC 16],0.28,0.27,0.30,0.62,0.00,0.06,0.09,0.05,0.18,0.26,0.24,0.22,0.23,0.24,0.25,0.00,0.00
6576,Netherlands,Total final energy (PJ),Wood and wood products [ISIC 16],3.56,2.46,2.55,2.42,2.29,2.52,2.53,2.59,2.66,2.88,2.68,2.75,2.65,2.26,2.80,2.26,3.12
6954,New Zealand,Total final energy (PJ),Wood and wood products [ISIC 16],33.02,33.89,38.03,38.14,41.40,41.16,39.96,38.97,36.34,33.90,38.13,39.06,39.40,36.83,37.09,37.59,45.38
7332,Poland,Total final energy (PJ),Wood and wood products [ISIC 16],25.12,25.11,27.25,27.48,28.98,29.27,28.46,26.21,29.60,28.74,31.88,32.21,32.36,35.86,34.08,37.02,40.55
7710,Portugal,Total final energy (PJ),Wood and wood products [ISIC 16],9.13,8.38,6.65,5.89,5.57,5.97,5.93,5.77,5.57,4.90,3.88,4.50,4.68,4.16,4.16,4.46,4.90
8088,Slovak Republic,Total final energy (PJ),Wood and wood products [ISIC 16],1.97,1.81,1.65,2.57,2.21,2.06,2.24,2.25,2.90,2.92,2.58,2.66,2.56,1.69,1.79,2.36,1.69
8466,Spain,Total final energy (PJ),Wood and wood products [ISIC 16],25.09,26.20,27.75,29.29,36.18,33.02,27.81,30.61,28.97,21.82,21.22,22.97,20.65,21.10,19.52,18.92,22.85
8844,Sweden,Total final energy (PJ),Wood and wood products [ISIC 16],29.01,28.02,29.02,28.97,27.35,27.50,27.83,26.99,24.80,22.58,24.56,22.25,21.26,22.67,22.00,23.20,24.18
9222,Switzerland,Total final energy (PJ),Wood and wood products [ISIC 16],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9600,Turkey,Total final energy (PJ),Wood and wood products [ISIC 16],2.40,2.20,2.26,2.44,2.94,3.56,3.73,5.02,5.86,8.97,8.93,8.77,7.06,12.61,14.23,19.01,18.77
9978,United Kingdom,Total final energy (PJ),Wood and wood products [ISIC 16],15.91,12.92,11.89,16.66,13.34,15.16,16.60,16.63,14.12,12.26,13.84,13.12,13.15,13.17,13.22,13.24,14.31
10356,United States,Total final energy (PJ),Wood and wood products [ISIC 16],449.60,426.38,352.13,369.03,372.56,378.57,427.02,387.72,395.25,362.77,366.39,339.78,295.60,317.14,330.17,321.15,310.79
10734,Morocco,Total final energy (PJ),Wood and wood products [ISIC 16],0.00,0.00,0.00,0.00,0.07,0.08,0.09,0.09,0.10,0.10,0.11,0.11,0.12,0.12,0.12,0.13,0.13
11112,Armenia,Total final energy (PJ),Wood and wood products [ISIC 16],0.00,0.01,0.01,0.04,0.03,0.03,0.00,0.00,0.00,0.00,0.01,0.01,0.01,0.01,0.01,0.01,0.04
11490,Belarus,Total final energy (PJ),Wood and wood products [ISIC 16],5.87,6.27,6.26,6.28,6.54,6.44,6.38,6.19,6.35,5.27,5.64,5.75,5.14,4.97,5.10,5.35,6.20
11868,Republic of Moldova,Total final energy (PJ),Wood and wood products [ISIC 16],0.06,0.04,0.04,0.05,0.08,0.09,0.04,0.06,0.07,0.23,0.26,0.29,0.30,0.20,0.22,0.16,0.16
12246,Ukraine,Total final energy (PJ),Wood and wood products [ISIC 16],1.08,0.84,0.93,1.20,2.63,3.87,4.84,9.01,8.72,5.87,6.49,7.83,6.95,8.11,7.80,8.63,6.76

In [15]:
CircularEc_folder = 'frac_waso_recycled_wood'
df_frac_hist = pd.read_csv(grandparentdir+'/frac_recycled/'
                           +CircularEc_folder+'/input_to_sisepuede/historical/'
                           +CircularEc_folder+'.csv')

df_frac_proj = pd.read_csv(grandparentdir+'/frac_recycled/'
                           +CircularEc_folder+'/input_to_sisepuede/projected/'
                           +CircularEc_folder+'.csv')

iso3 = list(set(df_frac_hist['iso_code3'].values))

years_all = range(min(df_frac_hist['Year'].values),max(df_frac_proj['Year'].values)+1)
c_y_frac = []
for c in iso3:
    for y in years_all:
    
        try:
            frac = df_frac_hist.loc[(df_frac_hist['iso_code3']==c) & (df_frac_hist['Year']==y),][CircularEc_folder].values[0]
            
        except:
            frac = df_frac_proj.loc[(df_frac_proj['iso_code3']==c) & (df_frac_proj['Year']==y)][CircularEc_folder].values[0]
            
        c_y_frac.append([c,y,frac])

df_frac_all = pd.DataFrame(c_y_frac,columns=['iso_code3', 'Year', CircularEc_folder])
df_frac_all

     iso_code3  Year  frac_waso_recycled_wood
0          PYF  2010                     0.39
1          PYF  2011                     0.39
2          PYF  2012                     0.39
3          PYF  2013                     0.39
4          PYF  2014                     0.39
...        ...   ...                      ...
8892       FRO  2046                     0.67
8893       FRO  2047                     0.67
8894       FRO  2048                     0.67
8895       FRO  2049                     0.67
8896       FRO  2050                     0.67

[8897 rows x 3 columns]

In [16]:
years_hist=range(2010,2017)
golbal_mean={}
for y in years_hist:
    m=[float(val) for val in df_enduse[str(y)].values]
    golbal_mean[y]=np.mean(m)
golbal_mean

{2010: 24.608787878787876,
 2011: 24.01030303030303,
 2012: 22.67363636363637,
 2013: 23.46181818181818,
 2014: 23.84636363636363,
 2015: 24.060909090909092,
 2016: 24.231515151515154}

In [17]:
sub_continents = ['Australia and New Zealand',
 'Caribbean',
 'Central America',
 'Central Asia',
 'Eastern Africa',
 'Eastern Asia',
 'Eastern Europe',
 'Melanesia',
 'Micronesia',
 'Middle Africa',
 'Northern Africa',
 'Northern America',
 'Northern Europe',
 'Polynesia',
 'South America',
 'South-Eastern Asia',
 'Southern Africa',
 'Southern Asia',
 'Southern Europe',
 'Western Africa',
 'Western Asia',
 'Western Europe']
coun_year=[]
for cont in sub_continents:
    for year in years_hist:
        coun_year.append([cont,year,0])
        
df_meanEEI = pd.DataFrame(coun_year, columns=['sub_region', 'Year','meanEEI'])

for year in years_hist:
    for cont in sub_continents:
        set1 = set(df_country_continent.loc[df_country_continent['sub_region']== cont]['country'].values)
        set2 = set(df_enduse['COUNTRY'].values)

        common_countries = set1.intersection(set2)
        #print(cont,common_countries)
        mean_array=[]
        for count in common_countries:
            mean_array.append(float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(year)].values[0]))
        if mean_array == []:
            mean_array = [0]
        #print(mean_array)
        df_meanEEI.loc[(df_meanEEI['sub_region']==cont) & (df_meanEEI['Year']==year),'meanEEI']=np.mean(mean_array)
    
df_meanEEI.dropna(how='any')
df_meanEEI = df_meanEEI.drop(df_meanEEI.index[(df_meanEEI == 0).any(axis=1)])

df_meanEEI

                    sub_region  Year    meanEEI
0    Australia and New Zealand  2010  19.065000
1    Australia and New Zealand  2011  19.530000
2    Australia and New Zealand  2012  19.700000
3    Australia and New Zealand  2013  18.415000
4    Australia and New Zealand  2014  18.545000
..                         ...   ...        ...
149             Western Europe  2012  21.935714
150             Western Europe  2013  22.081429
151             Western Europe  2014  22.252857
152             Western Europe  2015  22.457143
153             Western Europe  2016  22.858571

[68 rows x 3 columns]

In [18]:
#### HISTORICAL ######
iso3 = set(df_ippu_all['iso_code3'].values)
coun_year=[]
for iso3 in iso3:
    count = df_countries.loc[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years_hist:
        coun_year.append([count,iso3,year,0])
df_historical_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_recycled_wood
0,French Polynesia,PYF,2010,0
1,French Polynesia,PYF,2011,0
2,French Polynesia,PYF,2012,0
3,French Polynesia,PYF,2013,0
4,French Polynesia,PYF,2014,0
...,...,...,...,...
1332,Faroe Islands,FRO,2012,0
1333,Faroe Islands,FRO,2013,0
1334,Faroe Islands,FRO,2014,0
1335,Faroe Islands,FRO,2015,0
1336,Faroe Islands,FRO,2016,0

In [19]:
for c,y in zip(df_historical_out['iso_code3'].values,df_historical_out['Year'].values):
    
    tonne = df_ippu_all.loc[(df_ippu_all['iso_code3']==c)&(df_ippu_all['Year']==y)][IPPU_var].values[0]
    
    frac = df_frac_all.loc[(df_frac_all['iso_code3']==c)&(df_frac_all['Year']==y)][CircularEc_folder].values[0]
    
    count = df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(y)].values[0])*1e3

        dato=frac*tj/tonne
        df_historical_out.loc[(df_historical_out['iso_code3'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== count]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y]*1e3
            
        dato=frac*tj/tonne
        
        df_historical_out.loc[(df_historical_out['iso_code3'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_recycled_wood
0,French Polynesia,PYF,2010,462.602097
1,French Polynesia,PYF,2011,451.351631
2,French Polynesia,PYF,2012,426.224639
3,French Polynesia,PYF,2013,441.041077
4,French Polynesia,PYF,2014,448.269857
...,...,...,...,...
1332,Faroe Islands,FRO,2012,866.422500
1333,Faroe Islands,FRO,2013,704.548900
1334,Faroe Islands,FRO,2014,571.475649
1335,Faroe Islands,FRO,2015,683.624253
1336,Faroe Islands,FRO,2016,747.187710

In [20]:
#### Projected ######

years_proj=range(max(years_hist)+1,2051)

iso3 = set(df_ippu_all['iso_code3'].values)
coun_year=[]
for iso3 in iso3:
    count = df_countries.loc[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years_proj:
        coun_year.append([count,iso3,year,0])
        
df_projected_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_projected_out[var_name]=0
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_recycled_wood
0,French Polynesia,PYF,2017,0
1,French Polynesia,PYF,2018,0
2,French Polynesia,PYF,2019,0
3,French Polynesia,PYF,2020,0
4,French Polynesia,PYF,2021,0
...,...,...,...,...
6489,Faroe Islands,FRO,2046,0
6490,Faroe Islands,FRO,2047,0
6491,Faroe Islands,FRO,2048,0
6492,Faroe Islands,FRO,2049,0
6493,Faroe Islands,FRO,2050,0

In [21]:
y_hist_max = max(years_hist)
for c,y in zip(df_projected_out['iso_code3'].values,df_projected_out['Year'].values):
    
    tonne = df_ippu_all.loc[(df_ippu_all['iso_code3']==c)&(df_ippu_all['Year']==y)][IPPU_var].values[0]
    frac = df_frac_all.loc[(df_frac_all['iso_code3']==c)&(df_frac_all['Year']==y)][CircularEc_folder].values[0]
    count = df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(y_hist_max)].values[0])*1e3

        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        df_projected_out.loc[(df_projected_out['iso_code3'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato*frac
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== count]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y_hist_max), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y_hist_max]*1e3
            
        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        
        df_projected_out.loc[(df_projected_out['iso_code3'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato*frac
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_recycled_wood
0,French Polynesia,PYF,2017,398.746571
1,French Polynesia,PYF,2018,455.510031
2,French Polynesia,PYF,2019,451.883093
3,French Polynesia,PYF,2020,536.134471
4,French Polynesia,PYF,2021,536.134398
...,...,...,...,...
6489,Faroe Islands,FRO,2046,411.923993
6490,Faroe Islands,FRO,2047,403.777563
6491,Faroe Islands,FRO,2048,395.792241
6492,Faroe Islands,FRO,2049,387.964840
6493,Faroe Islands,FRO,2050,380.292239

In [22]:
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')

In [23]:
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')