In [1]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

var_name=os.path.basename(parentdir)

var_name

'consumpinit_inen_energy_tj_per_tonne_production_electronics'

In [2]:
import pandas as pd
import numpy as np

df_countries=pd.read_csv("../row_data/Countries_ISO3.csv")
df_countries
df_country_continent = pd.read_csv("../row_data/countryContinent.csv",encoding="ISO-8859-1")
df_country_continent.dropna(how='any')
df_country_continent

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [3]:
IPPU_folder = 'prodinit_ippu_electronics_tonne'
IPPU_var = 'prodinit_ippu_electronics_tonne'
df_ippu_hist = pd.read_csv(grandparentdir+'/IPPU/'+IPPU_folder+'/input_to_sisepuede/historical/'+IPPU_var+'.csv')
df_ippu_proj = pd.read_csv(grandparentdir+'/IPPU/'+IPPU_folder+'/input_to_sisepuede/projected/'+IPPU_var+'.csv')

code_ippu = list(set(df_ippu_proj['location_code'].values))

years_all = range(min(df_ippu_hist['year'].values),max(df_ippu_proj['year'].values)+1)
c_y_ippu = []
for c in code_ippu:
    for y in years_all:
    
        try:
            ippu = df_ippu_hist.loc[(df_ippu_hist['location_code']==c) & (df_ippu_hist['year']==y),][IPPU_var].values[0]
            
        except:
            ippu = df_ippu_proj.loc[(df_ippu_proj['location_code']==c) & (df_ippu_proj['year']==y)][IPPU_var].values[0]
            
        c_y_ippu.append([c,y,ippu])

df_ippu_all = pd.DataFrame(c_y_ippu,columns=['iso_code3', 'Year', IPPU_var])
df_ippu_all

     iso_code3  Year  prodinit_ippu_electronics_tonne
0          COG  2010                     16876.434698
1          COG  2011                     21519.096947
2          COG  2012                     26565.932576
3          COG  2013                     28239.602451
4          COG  2014                     25069.086168
...        ...   ...                              ...
7826       SLE  2046                     15141.292041
7827       SLE  2047                     15426.545004
7828       SLE  2048                     15717.171964
7829       SLE  2049                     16013.274164
7830       SLE  2050                     16314.954753

[7831 rows x 3 columns]

In [4]:
#df_eei=pd.read_csv("../row_data/eei industry.csv")
df_eei=pd.read_csv("../row_data/IEA_Energy_Industry.csv")

df_eei

,COUNTRY,ENDUSE,PRODUCT/FLOW,2000,2001,2002,2003,2004,2005,2006,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Australia,Manufacturing [ISIC 10-18; 20-32],Oil and oil products (PJ) ...,117.58,91.59,88.38,111.41,122.11,129.29,133.41,...,161.91,179.86,155.11,155.37,118.72,106.86,97.51,101.08,100.39,97.74
1,Australia,Manufacturing [ISIC 10-18; 20-32],Gas (PJ) ...,314.61,339.39,338.58,343.29,352.22,325.43,322.22,...,330.12,325.92,339.72,346.59,334.74,322.67,309.67,311.85,298.23,303.55
2,Australia,Manufacturing [ISIC 10-18; 20-32],Coal and coal products (PJ) ...,231.33,201.89,178.75,209.41,223.34,226.59,225.07,...,230.37,191.49,184.76,177.97,170.35,197.53,208.32,205.26,196.51,190.24
3,Australia,Manufacturing [ISIC 10-18; 20-32],Biofuels and waste (PJ) ...,96.47,94.43,99.89,101.47,104.3,109.06,110.25,...,104.6,104.29,112.36,105.27,115.61,115.49,124.1,112.09,103.36,98.69
4,Australia,Manufacturing [ISIC 10-18; 20-32],Heat (PJ) ...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9755,Uzbekistan,Construction [ISIC 41-43],Biofuels and waste (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,0,0,0,0,..,..,..
9756,Uzbekistan,Construction [ISIC 41-43],Heat (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,0,0,0,0,..,..,..
9757,Uzbekistan,Construction [ISIC 41-43],Electricity (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,0.51,0.42,0.28,0.46,..,..,..
9758,Uzbekistan,Construction [ISIC 41-43],Other sources (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,0,0,0.01,0,..,..,..
9759,Uzbekistan,Construction [ISIC 41-43],Total final energy use (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,6.85,6.54,6.23,9.44,..,..,..

In [5]:
#Cross Walk with IEA data:
industries_correspondence = {
  'electronics' : (0.5, 'Machinery [ISIC 25-28]'), #Electronics is ISIC 26 and 27, so let's say half of 25-28
  'plastic' : (0.5, 'Rubber and plastic [ISIC 22]'), # SEE BELOW
  'chemicals' : (1.0, 'Chemicals and chemical products [ISIC 20-21]'), #OK
  'cement' : (0.9, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'glass' : (0.05, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'other_product_manufacturing' : (0.7, 'Manufacturing [ISIC 10-18; 20-32]'), #OK
  'agriculture_and_livestock' : (1.0, 'Agriculture, forestry and fishing [ISIC 01-03]'), #OK
  'textiles' : (0.5, 'Textiles and leather [ISIC 13-15]'), #SEE BELOW
  'rubber_and_leather' : (0.5, 'Textiles and leather [ISIC 13-15]'), #+ AND 0.5  'Rubber and plastic [ISIC 22]'
  'metals' : (1.0, 'Basic metals [ISIC 24]'), #OK
  'lime_and_carbonite' : (0.05, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'paper' : (1.0, 'Paper pulp and printing [ISIC 17-18]'),
  # REMOVE 'recycled_wood' : (1.0, 'Wood and wood products [ISIC 16]') #I propose we leave this out entirely, unless we are doing all recyclables
}

In [6]:
fraction = 0.5
df_enduse = df_eei.loc[df_eei['ENDUSE']=='Machinery [ISIC 25-28]']
df_enduse = df_enduse[df_enduse['PRODUCT/FLOW'].str.startswith('Total final energy use (PJ)')]
mask = (df_enduse == '..').any(axis=1)
df_enduse = df_enduse.drop(index=df_enduse[mask].index)
df_enduse

,COUNTRY,ENDUSE,PRODUCT/FLOW,2000,2001,2002,2003,2004,2005,2006,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
103,Australia,Machinery [ISIC 25-28],Total final energy use (PJ) ...,26.77,23.03,22.73,24.99,26.22,25.53,22.97,...,22.73,22.76,20.63,19.63,18.86,17.38,15.95,13.85,12.41,12.01
263,Austria,Machinery [ISIC 25-28],Total final energy use (PJ) ...,16.01,17.2,16.35,17.46,19.43,20.87,22.12,...,27.11,28.42,21.39,20.08,21.31,22.3,21.87,23.06,22.08,20.28
423,Belgium,Machinery [ISIC 25-28],Total final energy use (PJ) ...,11.05,10.47,11.4,14.36,15.2,16.6,16.31,...,14.63,14.3,14.38,12.14,12.48,11.79,12.11,11.66,11.15,10.02
583,Canada,Machinery [ISIC 25-28],Total final energy use (PJ) ...,44.06,49.04,51.44,51.29,53.77,55.16,51.95,...,54.32,58.45,58.17,53.28,48.98,45.25,42.47,45.78,46.46,42.89
743,Czech Republic,Machinery [ISIC 25-28],Total final energy use (PJ) ...,27.54,27.19,26.39,29.65,27.1,31.93,32.59,...,29.6,29.28,28.34,26.69,28.9,28.36,30.34,28.9,28.79,27.38
903,Denmark,Machinery [ISIC 25-28],Total final energy use (PJ) ...,12.63,13.21,12.9,13.39,13.59,13.05,13.7,...,12.06,11.23,10.2,9.41,8.84,8.16,8.46,8.9,8.63,8.85
1063,Estonia,Machinery [ISIC 25-28],Total final energy use (PJ) ...,0.84,0.92,1.04,1.46,1.33,1.52,1.67,...,1.76,1.81,1.68,1.56,1.46,1.58,1.56,1.61,1.28,1.31
1223,Finland,Machinery [ISIC 25-28],Total final energy use (PJ) ...,12.77,12.74,13.59,14.19,13.79,13.58,13.67,...,14.25,13.52,13.17,13.84,12.54,12.88,12.83,13.48,13.51,12.53
1383,France,Machinery [ISIC 25-28],Total final energy use (PJ) ...,97.78,98.82,96.85,96.69,94.53,89.03,95.2,...,85.64,86.84,91.12,82.25,81.54,82.99,80.06,78.97,77.03,68.1
1543,Germany,Machinery [ISIC 25-28],Total final energy use (PJ) ...,189.46,191.89,190.49,233.58,224.12,222.04,225.74,...,226.38,230.96,225.25,217.55,205.81,197.36,214.45,211.96,206.09,188.58
1703,Greece,Machinery [ISIC 25-28],Total final energy use (PJ) ...,2.84,2.99,3.06,3.68,2.44,2.46,2.62,...,1.92,1.02,1.11,1.52,1.53,1.24,2.09,2.71,3.65,3.2
1863,Hungary,Machinery [ISIC 25-28],Total final energy use (PJ) ...,7.24,8.25,8.53,9.29,9.46,11.61,11.37,...,11.12,12.95,16.1,16.05,16.21,16.99,18.32,18.58,18.71,19.95
2023,Ireland,Machinery [ISIC 25-28],Total final energy use (PJ) ...,11.09,12.09,10.84,10.05,8.38,9.6,9.03,...,3.98,3.61,3.82,4.49,4.91,5.11,5.24,5.29,5.35,5.11
2183,Italy,Machinery [ISIC 25-28],Total final energy use (PJ) ...,214.73,217.82,220.05,222.91,223.87,220.74,221.28,...,171.39,161.8,155.79,154.45,157.22,160.27,164.19,162.72,163.52,155.42
2343,Japan,Machinery [ISIC 25-28],Total final energy use (PJ) ...,458.46,442.32,444.9,431.56,439.53,446.45,451.49,...,367.42,355.54,356.13,334.96,321.32,312.2,313.75,339.58,321.79,313.7
2503,Korea,Machinery [ISIC 25-28],Total final energy use (PJ) ...,117.69,119.17,130.93,141.43,148.67,162.97,175.2,...,272.1,288.62,308.68,315.27,311.44,326.71,331.92,335.53,330.01,336.87
2663,Lithuania,Machinery [ISIC 25-28],Total final energy use (PJ) ...,2.52,2.53,2.74,2.81,3.2,3.02,1.91,...,0.68,0.82,0.71,0.65,0.65,0.81,1,0.97,1.29,1.29
2823,Luxembourg,Machinery [ISIC 25-28],Total final energy use (PJ) ...,0.56,0.58,0.63,0.71,0.69,0.63,0.57,...,0.46,0.4,0.39,0.35,0.44,0.48,0.47,0.27,0.37,0.31
2911,Mexico,Machinery [ISIC 25-28],Total final energy use (PJ) ...,3.13,2.87,2.71,2.96,0.84,2.22,2.38,...,2.12,2.22,2.02,0.84,1.97,2.17,2.39,2.27,2.24,1.67
3143,Netherlands,Machinery [ISIC 25-28],Total final energy use (PJ) ...,29.86,29.69,29.59,27.36,27.46,28.04,26.88,...,21.57,22.51,21.53,20.7,21.01,22.08,24.36,23.92,22.22,20.55
3303,New Zealand,Machinery [ISIC 25-28],Total final energy use (PJ) ...,3.02,2.97,2.72,3.47,3.87,3.96,4.2,...,3.45,3.69,4.08,3.26,2.91,3.13,2.88,3.16,4,2.94
3463,Norway,Machinery [ISIC 25-28],Total final energy use (PJ) ...,6.29,6,6.07,5.81,5.86,5.95,5.98,...,5.02,4.99,5.17,5.15,5.37,4.86,4.47,4.32,4.67,4.73
3623,Poland,Machinery [ISIC 25-28],Total final energy use (PJ) ...,37.11,34.88,32.85,34.17,32.54,32.22,32.14,...,29.48,28.95,30.76,30.72,31.54,30.91,32.5,33.6,31.81,30.52
3783,Portugal,Machinery [ISIC 25-28],Total final energy use (PJ) ...,4.74,5.05,5.2,6.7,6.68,6.8,7.1,...,6.96,6.68,6.71,6.79,7.1,6.06,6.09,6.53,6.49,6.07
3943,Slovak Republic,Machinery [ISIC 25-28],Total final energy use (PJ) ...,7.23,7.05,7.22,8.11,5.87,6.34,6.76,...,7.46,7.46,7.82,8.43,8.8,9.19,10.67,11.7,10.2,8.57
4103,Spain,Machinery [ISIC 25-28],Total final energy use (PJ) ...,43.36,57.62,51.15,58.77,59.18,57.9,49.46,...,45.32,29.94,41.97,34.7,39.55,39.64,39.63,40.5,41.6,37.49
4263,Sweden,Machinery [ISIC 25-28],Total final energy use (PJ) ...,25.88,25.74,25.12,23.83,22.25,22.31,23.01,...,19.13,18.54,17.7,17.69,16.75,16.71,16.65,16.84,16.02,14.72
4423,Switzerland,Machinery [ISIC 25-28],Total final energy use (PJ) ...,17.73,16.88,19,20.71,20.09,20.72,21.26,...,24.81,25.14,25.24,22.29,23.45,24.02,24.22,23.11,23.96,22.62
4583,Republic of Türkiye,Machinery [ISIC 25-28],Total final energy use (PJ) ...,9.66,8.43,9.1,10.71,9.59,9.86,9.99,...,21.78,21.51,20.69,15.24,22.74,23.05,29.81,29.09,32.22,31.51
4743,United Kingdom,Machinery [ISIC 25-28],Total final energy use (PJ) ...,111.26,110.04,107.32,102.91,100.57,105.02,101.53,...,78.42,78.33,77.28,74.28,90.21,90.49,93.03,93.58,91.73,80.65
4903,United States,Machinery [ISIC 25-28],Total final energy use (PJ) ...,1009.37,958.18,866.62,844.75,824.16,791.91,891.74,...,889,948.66,949.47,747.43,702.9,691.28,707.43,718.24,753.47,733.05
5383,Morocco,Machinery [ISIC 25-28],Total final energy use (PJ) ...,0.78,1.22,1.41,1.58,1.2,1.3,1.41,...,1.86,1.99,2,2.07,2.11,2.17,2.3,2.35,2.42,2.28
6183,Latvia,Machinery [ISIC 25-28],Total final energy use (PJ) ...,0.86,1.11,0.98,1.04,1.06,1.2,1.26,...,0.78,0.76,0.8,0.82,0.67,0.7,0.73,0.74,0.66,0.63
6503,Armenia,Machinery [ISIC 25-28],Total final energy use (PJ) ...,0.15,0.19,0.06,0.06,0.07,0.07,0.13,...,0.06,0.06,0.09,0.14,0.11,0.11,0.11,0.11,0.12,0.09
7143,Bulgaria,Machinery [ISIC 25-28],Total final energy use (PJ) ...,5.57,5.19,4.98,5.05,4.76,5.18,5.11,...,5.23,5.03,4.93,4.89,5.22,5.56,5.84,5.88,5.67,5.23
7303,Croatia,Machinery [ISIC 25-28],Total final energy use (PJ) ...,1.5,1.4,1.27,1.6,2.01,2.09,2.26,...,2.36,2.22,2.18,2.64,2.67,2.85,2.98,2.68,2.65,2.51
7463,Cyprus,Machinery [ISIC 25-28],Total final energy use (PJ) ...,0.08,0.08,0.09,0.08,0.1,0.1,0.11,...,0.09,0.09,0.07,0.06,0.06,0.07,0.09,0.11,0.1,0.1
7783,Hong Kong (China),Machinery [ISIC 25-28],Total final energy use (PJ) ...,5.98,5.17,5.19,4.83,4.83,4.62,4.21,...,3.25,2.86,2.61,2.36,2.2,2,1.92,1.91,1.84,1.83
8103,Kosovo,Machinery [ISIC 25-28],Total final energy use (PJ) ...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,...,0.09,0.05,0.05,0.06,0.06,0.04,0.05,0.05,0.05,0.05
8583,Republic of Moldova,Machinery [ISIC 25-28],Total final energy use (PJ) ...,0.17,0.23,0.21,0.24,0.27,0.32,0.19,...,0.21,0.21,0.18,0.2,0.18,0.19,0.19,0.21,0.16,0.12
8743,Republic of North Macedonia,Machinery [ISIC 25-28],Total final energy use (PJ) ...,0.34,0.32,0.26,0.38,0.42,0.31,0.36,...,0.43,0.27,0.25,0.24,0.28,0.28,0.32,0.33,0.33,0.37
8903,Romania,Machinery [ISIC 25-28],Total final energy use (PJ) ...,29.32,33.01,33.98,26.68,24.96,21.72,21.19,...,15.16,15.07,15.08,16.81,14.72,15.13,16.44,17.83,17.91,14.26
9223,Slovenia,Machinery [ISIC 25-28],Total final energy use (PJ) ...,5.19,4.77,4.51,6.14,6.55,7.23,7.94,...,5.92,5.87,5.57,5.54,5.65,5.86,5.97,7.81,7.75,7.61

In [7]:
years_hist=range(2010,2021)
golbal_mean={}
for y in years_hist:
    m=[float(val) for val in df_enduse[str(y)].values]
    golbal_mean[y]=np.mean(m)
golbal_mean

{2010: 58.82651162790697,
 2011: 58.31418604651162,
 2012: 59.4286046511628,
 2013: 59.79790697674419,
 2014: 53.66325581395348,
 2015: 52.620232558139534,
 2016: 52.33511627906977,
 2017: 53.67790697674419,
 2018: 54.667209302325574,
 2019: 54.707209302325566,
 2020: 52.51093023255814}

In [8]:
sub_continents = ['Australia and New Zealand',
 'Caribbean',
 'Central America',
 'Central Asia',
 'Eastern Africa',
 'Eastern Asia',
 'Eastern Europe',
 'Melanesia',
 'Micronesia',
 'Middle Africa',
 'Northern Africa',
 'Northern America',
 'Northern Europe',
 'Polynesia',
 'South America',
 'South-Eastern Asia',
 'Southern Africa',
 'Southern Asia',
 'Southern Europe',
 'Western Africa',
 'Western Asia',
 'Western Europe']
coun_year=[]
for cont in sub_continents:
    for year in years_hist:
        coun_year.append([cont,year,0])
        
df_meanEEI = pd.DataFrame(coun_year, columns=['sub_region', 'Year','meanEEI'])

for year in years_hist:
    for cont in sub_continents:
        set1 = set(df_country_continent.loc[df_country_continent['sub_region']== cont]['country'].values)
        set2 = set(df_enduse['COUNTRY'].values)

        common_countries = set1.intersection(set2)
        #print(cont,common_countries)
        mean_array=[]
        for count in common_countries:
            mean_array.append(float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(year)].values[0]))
        if mean_array == []:
            mean_array = [0]
        #print(mean_array)
        df_meanEEI.loc[(df_meanEEI['sub_region']==cont) & (df_meanEEI['Year']==year),'meanEEI']=np.mean(mean_array)
    
df_meanEEI.dropna(how='any')
df_meanEEI = df_meanEEI.drop(df_meanEEI.index[(df_meanEEI == 0).any(axis=1)])

df_meanEEI

                    sub_region  Year    meanEEI
0    Australia and New Zealand  2010  13.085000
1    Australia and New Zealand  2011  13.090000
2    Australia and New Zealand  2012  13.225000
3    Australia and New Zealand  2013  12.355000
4    Australia and New Zealand  2014  11.445000
..                         ...   ...        ...
237             Western Europe  2016  51.574286
238             Western Europe  2017  53.934286
239             Western Europe  2018  53.278571
240             Western Europe  2019  51.842857
241             Western Europe  2020  47.208571

[110 rows x 3 columns]

In [9]:
#### HISTORICAL ######
iso3 = set(df_ippu_all['iso_code3'].values)
coun_year=[]
for iso3 in iso3:
    count = df_countries.loc[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years_hist:
        coun_year.append([count,iso3,year,0])
df_historical_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_electronics
0,"Congo, Rep.",COG,2010,0
1,"Congo, Rep.",COG,2011,0
2,"Congo, Rep.",COG,2012,0
3,"Congo, Rep.",COG,2013,0
4,"Congo, Rep.",COG,2014,0
...,...,...,...,...
2096,Sierra Leone,SLE,2016,0
2097,Sierra Leone,SLE,2017,0
2098,Sierra Leone,SLE,2018,0
2099,Sierra Leone,SLE,2019,0
2100,Sierra Leone,SLE,2020,0

In [10]:
for c,y in zip(df_historical_out['iso_code3'].values,df_historical_out['Year'].values):
    
    tonne = df_ippu_all.loc[(df_ippu_all['iso_code3']==c)&(df_ippu_all['Year']==y)][IPPU_var].values[0]
    
    count = df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(y)].values[0])*1e3

        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        df_historical_out.loc[(df_historical_out['iso_code3'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato*fraction
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== count]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y]*1e3
            
        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        
        df_historical_out.loc[(df_historical_out['iso_code3'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato*fraction
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_electronics
0,"Congo, Rep.",COG,2010,1.742860
1,"Congo, Rep.",COG,2011,1.354940
2,"Congo, Rep.",COG,2012,1.118512
3,"Congo, Rep.",COG,2013,1.058760
4,"Congo, Rep.",COG,2014,1.070307
...,...,...,...,...
2096,Sierra Leone,SLE,2016,5.766882
2097,Sierra Leone,SLE,2017,4.538626
2098,Sierra Leone,SLE,2018,3.165963
2099,Sierra Leone,SLE,2019,2.761663
2100,Sierra Leone,SLE,2020,2.765032

In [11]:
#### Projected ######

years_proj=range(max(years_hist)+1,2051)

iso3 = set(df_ippu_all['iso_code3'].values)
coun_year=[]
for iso3 in iso3:
    count = df_countries.loc[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years_proj:
        coun_year.append([count,iso3,year,0])
        
df_projected_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_projected_out[var_name]=0
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_electronics
0,"Congo, Rep.",COG,2021,0
1,"Congo, Rep.",COG,2022,0
2,"Congo, Rep.",COG,2023,0
3,"Congo, Rep.",COG,2024,0
4,"Congo, Rep.",COG,2025,0
...,...,...,...,...
5725,Sierra Leone,SLE,2046,0
5726,Sierra Leone,SLE,2047,0
5727,Sierra Leone,SLE,2048,0
5728,Sierra Leone,SLE,2049,0
5729,Sierra Leone,SLE,2050,0

In [12]:
y_hist_max = max(years_hist)
for c,y in zip(df_projected_out['iso_code3'].values,df_projected_out['Year'].values):
    
    tonne = df_ippu_all.loc[(df_ippu_all['iso_code3']==c)&(df_ippu_all['Year']==y)][IPPU_var].values[0]
    
    count = df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(y_hist_max)].values[0])*1e3

        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        df_projected_out.loc[(df_projected_out['iso_code3'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato*fraction
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== count]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y_hist_max), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y_hist_max]*1e3
            
        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        
        df_projected_out.loc[(df_projected_out['iso_code3'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato*fraction
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_electronics
0,"Congo, Rep.",COG,2021,2.145098
1,"Congo, Rep.",COG,2022,2.152227
2,"Congo, Rep.",COG,2023,2.159379
3,"Congo, Rep.",COG,2024,2.166554
4,"Congo, Rep.",COG,2025,2.173754
...,...,...,...,...
5725,Sierra Leone,SLE,2046,1.734031
5726,Sierra Leone,SLE,2047,1.701967
5727,Sierra Leone,SLE,2048,1.670496
5728,Sierra Leone,SLE,2049,1.639606
5729,Sierra Leone,SLE,2050,1.609288

In [13]:
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')

In [14]:
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')