In [1]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

var_name=os.path.basename(parentdir)

var_name

'consumpinit_inen_energy_total_pj_agriculture_and_livestock'

In [2]:
import pandas as pd
import numpy as np

df_countries=pd.read_csv("../row_data/Countries_ISO3.csv")
df_countries
df_country_continent = pd.read_csv("../row_data/countryContinent.csv",encoding="ISO-8859-1")
df_country_continent.dropna(how='any')
df_country_continent

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [3]:
df_eei=pd.read_csv("../row_data/eei industry.csv")
df_eei

,COUNTRY,PRODUCT/FLOW,ENDUSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Australia,Oil and oil products (PJ),"Manufacturing [ISIC 10-18, 20-32]",130.43,106.35,104.18,106.50,118.77,125.35,127.31,128.88,136.56,129.94,136.44,165.71,185.91,158.38,160.02,121.34,106.70
1,Australia,Oil and oil products (PJ),Food and tobacco [ISIC 10-12],5.89,6.00,2.38,2.66,2.75,2.76,2.90,2.99,2.90,5.52,5.04,5.84,6.37,5.89,5.96,5.18,5.04
2,Australia,Oil and oil products (PJ),Textiles and leather [ISIC 13-15],0.48,0.48,0.48,0.48,0.38,0.95,0.95,0.98,0.95,0.77,0.75,0.76,0.75,0.94,0.95,0.77,0.76
3,Australia,Oil and oil products (PJ),Wood and wood products [ISIC 16],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Australia,Oil and oil products (PJ),Paper pulp and printing [ISIC 17-18],2.56,2.95,1.74,0.64,0.68,0.77,0.82,0.73,0.64,0.49,0.48,0.47,0.67,2.32,2.37,2.57,2.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12469,Ukraine,Steel production (10^6 t),Memo: Coke and refined petroleum products [ISI...,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12470,Ukraine,Steel production (10^6 t),"Agriculture, forestry and fishing [ISIC 01-03]",x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12471,Ukraine,Steel production (10^6 t),Mining [ISIC 05-09],x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12472,Ukraine,Steel production (10^6 t),Construction [ISIC 41-43],x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12473,Ukraine,Steel production (10^6 t),General activity data,31.77,33.11,34.05,36.93,38.74,38.64,40.89,42.83,37.28,29.86,33.43,35.33,32.98,32.77,27.17,22.97,24.22

In [5]:
df_enduse = df_eei.loc[(df_eei['PRODUCT/FLOW']=='Total final energy (PJ)') & 
                       (df_eei['ENDUSE']=='Agriculture, forestry and fishing [ISIC 01-03]')]
df_enduse

,COUNTRY,PRODUCT/FLOW,ENDUSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
164,Australia,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",67.38,81.71,82.25,93.33,93.15,96.86,92.50,89.93,90.64,89.54,91.65,91.62,93.66,94.69,94.99,99.62,104.79
542,Austria,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",21.98,22.61,21.97,22.54,22.85,20.81,20.58,20.51,20.83,21.05,21.32,21.44,22.07,22.60,21.31,21.64,21.81
920,Belgium,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",32.78,31.42,26.20,34.14,34.17,34.09,37.21,35.05,36.59,35.35,31.70,28.65,29.08,34.34,29.57,30.24,32.37
1298,Canada,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",239.51,231.39,223.16,233.83,239.12,244.68,249.17,256.16,261.28,222.13,255.77,276.80,271.83,284.66,294.07,303.19,310.08
1676,Czech Republic,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",27.63,25.65,24.11,23.78,23.61,23.19,23.44,21.78,21.77,21.42,22.71,22.79,23.46,25.45,25.61,25.28,26.79
2054,Denmark,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",40.34,39.48,38.72,37.91,36.26,36.05,37.41,35.37,35.86,35.59,36.56,34.62,32.67,32.87,30.98,31.68,31.49
2432,Finland,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",31.99,32.78,33.68,32.51,32.44,31.43,32.04,32.96,32.25,32.10,33.82,31.17,33.26,32.64,31.52,30.36,29.90
2810,France,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",190.85,193.52,189.75,190.01,198.32,195.09,190.59,184.81,186.79,188.49,188.20,190.33,187.15,190.04,187.45,187.78,188.50
3188,Germany,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",165.13,150.98,168.38,154.87,150.54,136.52,146.09,146.21,137.41,147.76,174.19,165.52,167.17,188.13,172.54,167.46,160.88
3566,Greece,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",46.42,46.47,48.44,52.20,46.47,48.03,49.17,45.96,45.69,36.62,33.50,28.01,13.23,13.56,11.75,11.36,11.86
3944,Hungary,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",27.92,26.38,27.25,25.68,24.45,23.37,22.94,20.99,22.18,18.63,20.58,20.37,16.83,21.57,25.07,24.39,27.10
4322,Ireland,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",14.80,15.08,14.90,15.53,15.33,16.03,15.23,14.35,15.00,13.14,12.33,11.76,11.43,10.41,10.23,9.98,9.48
4700,Italy,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",133.33,138.21,136.19,137.82,137.10,139.06,137.64,133.00,129.18,131.00,123.11,122.43,118.22,116.60,116.22,119.39,120.20
5078,Japan,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",251.61,259.90,249.18,250.72,255.30,248.44,231.08,231.66,198.20,234.52,218.77,205.29,201.60,186.65,181.08,199.19,202.64
5456,Korea,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",151.71,161.28,157.06,141.30,132.30,126.85,122.08,122.74,109.36,116.45,126.95,120.09,124.82,131.49,111.49,110.45,112.68
5834,Luxembourg,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",0.74,0.84,0.82,0.89,0.91,0.94,0.97,1.02,1.06,1.22,1.20,1.03,1.03,1.08,1.03,1.01,1.02
6212,Mexico,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",118.77,116.53,112.26,118.24,121.24,130.68,135.68,138.52,143.70,150.58,147.51,159.91,166.78,158.34,157.48,167.29,180.26
6590,Netherlands,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",188.31,184.17,170.40,169.01,170.12,174.37,154.98,154.94,156.01,156.16,176.80,157.97,159.87,161.12,148.47,157.44,161.64
6968,New Zealand,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",25.32,25.98,27.94,29.32,26.94,29.35,30.22,29.75,29.17,26.99,26.91,28.95,30.60,29.57,30.84,29.72,27.71
7346,Poland,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",193.34,191.86,182.27,174.69,179.16,184.79,159.23,146.25,151.65,148.37,154.99,152.86,152.30,148.63,142.41,138.78,148.11
7724,Portugal,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",29.91,21.18,19.82,19.04,24.61,23.97,18.65,19.96,17.96,17.81,19.30,17.81,17.26,17.54,17.77,18.28,17.49
8102,Slovak Republic,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",8.64,7.55,6.23,6.64,6.75,6.89,5.92,5.70,5.87,5.42,5.61,6.57,6.03,5.53,5.80,6.32,6.24
8480,Spain,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",107.21,99.94,98.42,122.64,139.21,129.58,117.17,122.62,112.31,98.29,93.31,100.10,113.16,118.87,115.47,104.06,110.28
8858,Sweden,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",22.48,23.04,25.30,25.51,24.32,23.64,23.81,22.71,20.85,20.85,19.40,17.93,14.59,16.32,15.15,15.35,14.37
9236,Switzerland,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",8.48,9.29,8.68,8.38,8.35,8.70,6.81,6.44,5.59,5.25,5.00,6.04,5.88,5.44,4.51,4.77,4.77
9614,Turkey,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",122.11,122.21,133.42,122.18,136.62,138.48,148.17,162.69,210.64,198.46,207.53,225.61,190.96,178.91,189.18,162.51,158.53
9992,United Kingdom,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",48.05,51.00,47.22,37.45,35.85,39.06,36.21,35.89,36.24,34.19,38.68,36.02,38.44,42.15,49.30,43.54,48.24
10370,United States,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",797.17,875.99,866.33,797.46,932.81,927.74,951.89,890.78,852.66,811.29,914.64,867.34,830.70,884.94,866.48,868.26,851.92
10748,Morocco,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",20.07,23.53,23.78,25.10,26.95,29.29,29.93,31.12,32.11,36.22,37.26,39.41,41.40,43.40,44.69,47.16,49.90
11126,Armenia,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",1.71,1.41,0.83,0.80,0.94,0.98,0.82,0.65,0.80,0.45,0.45,0.44,0.50,0.54,0.62,1.65,1.79
11504,Belarus,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",44.79,41.05,39.22,39.10,39.93,42.48,45.41,46.90,51.40,44.05,44.50,46.34,46.84,45.44,44.48,41.95,42.49
11882,Republic of Moldova,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",3.61,3.46,4.12,4.01,3.62,2.86,2.83,2.34,3.11,3.03,2.98,2.86,2.51,2.72,2.70,2.99,3.38
12260,Ukraine,Total final energy (PJ),"Agriculture, forestry and fishing [ISIC 01-03]",63.66,58.10,60.94,63.53,72.67,109.70,76.19,84.50,88.22,83.48,85.27,94.06,91.90,93.89,84.30,81.87,89.40

In [6]:
df_enduse.columns

Index(['COUNTRY', 'PRODUCT/FLOW', 'ENDUSE', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016'],
      dtype='object')

In [10]:
df_enduse[str(y)].values

array(['67.38', '21.98', '32.78', '239.51', '27.63', '40.34', '31.99',
       '190.85', '165.13', '46.42', '27.92', '14.80', '133.33', '251.61',
       '151.71', '0.74', '118.77', '188.31', '25.32', '193.34', '29.91',
       '8.64', '107.21', '22.48', '8.48', '122.11', '48.05', '797.17',
       '20.07', '1.71', '44.79', '3.61', '63.66'], dtype=object)

In [13]:
years_hist=range(2000,2017)
golbal_mean={}
for y in years_hist:
    m=[float(val) for val in df_enduse[str(y)].values]
    golbal_mean[y]=np.mean(m)
golbal_mean

{2000: 98.41666666666667,
 2001: 100.4239393939394,
 2002: 99.06787878787878,
 2003: 97.27757575757576,
 2004: 102.80030303030304,
 2005: 103.75757575757576,
 2006: 101.57757575757576,
 2007: 99.82606060606061,
 2008: 98.85999999999999,
 2009: 96.54242424242425,
 2010: 102.1969696969697,
 2011: 100.97393939393939,
 2012: 98.7039393939394,
 2013: 101.2160606060606,
 2014: 98.9260606060606,
 2015: 98.9381818181818,
 2016: 100.24575757575758}

In [18]:
continents = ['Australia and New Zealand',
 'Caribbean',
 'Central America',
 'Central Asia',
 'Eastern Africa',
 'Eastern Asia',
 'Eastern Europe',
 'Melanesia',
 'Micronesia',
 'Middle Africa',
 'Northern Africa',
 'Northern America',
 'Northern Europe',
 'Polynesia',
 'South America',
 'South-Eastern Asia',
 'Southern Africa',
 'Southern Asia',
 'Southern Europe',
 'Western Africa',
 'Western Asia',
 'Western Europe']
coun_year=[]
for cont in continents:
    for year in years_hist:
        coun_year.append([cont,year,0])
        
df_meanEEI = pd.DataFrame(coun_year, columns=['sub_region', 'Year','meanEEI'])

for year in years_hist:
    for cont in continents:
        set1 = set(df_country_continent.loc[df_country_continent['sub_region']== cont]['country'].values)
        set2 = set(df_enduse['COUNTRY'].values)

        common_countries = set1.intersection(set2)
        #print(cont,common_countries)
        mean_array=[]
        for count in common_countries:
            mean_array.append(float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(year)].values[0]))
        if mean_array == []:
            mean_array = [0]
        #print(mean_array)
        df_meanEEI.loc[(df_meanEEI['sub_region']==cont) & (df_meanEEI['Year']==year),'meanEEI']=np.mean(mean_array)
    
df_meanEEI.dropna(how='any')
#df_meanEEI = df_meanEEI.drop(df_meanEEI.index[(df_meanEEI == 0).any(axis=1)])

df_meanEEI

                    sub_region  Year    meanEEI
0    Australia and New Zealand  2000  46.350000
1    Australia and New Zealand  2001  53.845000
2    Australia and New Zealand  2002  55.095000
3    Australia and New Zealand  2003  61.325000
4    Australia and New Zealand  2004  60.045000
..                         ...   ...        ...
369             Western Europe  2012  81.750000
370             Western Europe  2013  86.107143
371             Western Europe  2014  80.697143
372             Western Europe  2015  81.477143
373             Western Europe  2016  81.570000

[374 rows x 3 columns]

In [24]:
#### HISTORICAL ######
countries = df_countries['Country Name'].values
coun_year=[]
for count in countries:
    iso3 = df_countries.loc[df_countries['Country Name']==count]['ISO3'].values[0]
    for year in years_hist:
        coun_year.append([count,iso3,year,0])
df_historical_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_total_pj_agriculture_and_livestock
0,Aruba,ABW,2000,0
1,Aruba,ABW,2001,0
2,Aruba,ABW,2002,0
3,Aruba,ABW,2003,0
4,Aruba,ABW,2004,0
...,...,...,...,...
4517,Zimbabwe,ZWE,2012,0
4518,Zimbabwe,ZWE,2013,0
4519,Zimbabwe,ZWE,2014,0
4520,Zimbabwe,ZWE,2015,0
4521,Zimbabwe,ZWE,2016,0

In [28]:
for c,y in zip(df_historical_out['Nation'].values,df_historical_out['Year'].values):
    
    if c in df_enduse['COUNTRY'].values:
        
        dato=df_enduse.loc[(df_enduse['COUNTRY'] == c)][str(y)].values[0]
        df_historical_out.loc[(df_historical_out['Nation'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== c]['sub_region'].values[0]
            
            dato = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== 2019), 'meanEEI'].values[0]
        except:
            dato=golbal_mean[y]*1e3        
        df_historical_out.loc[(df_historical_out['Nation'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_total_pj_agriculture_and_livestock
0,Aruba,ABW,2000,98416.666667
1,Aruba,ABW,2001,100423.939394
2,Aruba,ABW,2002,99067.878788
3,Aruba,ABW,2003,97277.575758
4,Aruba,ABW,2004,102800.30303
...,...,...,...,...
4517,Zimbabwe,ZWE,2012,98703.939394
4518,Zimbabwe,ZWE,2013,101216.060606
4519,Zimbabwe,ZWE,2014,98926.060606
4520,Zimbabwe,ZWE,2015,98938.181818
4521,Zimbabwe,ZWE,2016,100245.757576

In [29]:
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')

In [42]:
#### Projected ######

years2=range(max(years_hist)+1,2051)

coun_year=[]
for count in countries:
    iso3 = df_countries.loc[df_countries['Country Name']==count]['ISO3'].values[0]
    for year in years2:
        
        dato=df_historical_out.loc[(df_historical_out['Nation'] == count) & 
                        (df_historical_out['Year']== 2016)][var_name].values[0]
        
        coun_year.append([count,iso3,year,dato])
        
df_projected_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_total_pj_agriculture_and_livestock
0,Aruba,ABW,2017,100245.757576
1,Aruba,ABW,2018,100245.757576
2,Aruba,ABW,2019,100245.757576
3,Aruba,ABW,2020,100245.757576
4,Aruba,ABW,2021,100245.757576
...,...,...,...,...
9039,Zimbabwe,ZWE,2046,100245.757576
9040,Zimbabwe,ZWE,2047,100245.757576
9041,Zimbabwe,ZWE,2048,100245.757576
9042,Zimbabwe,ZWE,2049,100245.757576
9043,Zimbabwe,ZWE,2050,100245.757576

In [43]:
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')