In [1]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

var_name=os.path.basename(parentdir)

var_name

'consumpinit_inen_energy_tj_per_tonne_production_paper'

In [2]:
import pandas as pd
import numpy as np

df_countries=pd.read_csv("../row_data/Countries_ISO3.csv")
df_countries
df_country_continent = pd.read_csv("../row_data/countryContinent.csv",encoding="ISO-8859-1")
df_country_continent.dropna(how='any')
df_country_continent

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [3]:
IPPU_folder = 'prodinit_ippu_paper_tonne'
IPPU_var = 'prodinit_ippu_paper_tonne'
df_ippu_hist = pd.read_csv(grandparentdir+'/IPPU/'+IPPU_folder+'/input_to_sisepuede/historical/'+IPPU_var+'.csv')
df_ippu_proj = pd.read_csv(grandparentdir+'/IPPU/'+IPPU_folder+'/input_to_sisepuede/projected/'+IPPU_var+'.csv')

code_ippu = list(set(df_ippu_proj['location_code'].values))

years_all = range(min(df_ippu_hist['year'].values),max(df_ippu_proj['year'].values)+1)
c_y_ippu = []
for c in code_ippu:
    for y in years_all:
    
        try:
            ippu = df_ippu_hist.loc[(df_ippu_hist['location_code']==c) & (df_ippu_hist['year']==y),][IPPU_var].values[0]
            
        except:
            ippu = df_ippu_proj.loc[(df_ippu_proj['location_code']==c) & (df_ippu_proj['year']==y)][IPPU_var].values[0]
            
        c_y_ippu.append([c,y,ippu])

df_ippu_all = pd.DataFrame(c_y_ippu,columns=['iso_code3', 'Year', IPPU_var])
df_ippu_all

     iso_code3  Year  prodinit_ippu_paper_tonne
0          ISL  2010               5.582347e+04
1          ISL  2011               5.647719e+04
2          ISL  2012               5.062749e+04
3          ISL  2013               5.661322e+04
4          ISL  2014               6.272123e+04
...        ...   ...                        ...
7826       EGY  2046               9.169476e+06
7827       EGY  2047               9.607387e+06
7828       EGY  2048               1.006621e+07
7829       EGY  2049               1.054695e+07
7830       EGY  2050               1.105064e+07

[7831 rows x 3 columns]

In [4]:
df_eei=pd.read_csv("../row_data/eei industry.csv")
df_eei

,COUNTRY,PRODUCT/FLOW,ENDUSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Australia,Oil and oil products (PJ),"Manufacturing [ISIC 10-18, 20-32]",130.43,106.35,104.18,106.50,118.77,125.35,127.31,128.88,136.56,129.94,136.44,165.71,185.91,158.38,160.02,121.34,106.70
1,Australia,Oil and oil products (PJ),Food and tobacco [ISIC 10-12],5.89,6.00,2.38,2.66,2.75,2.76,2.90,2.99,2.90,5.52,5.04,5.84,6.37,5.89,5.96,5.18,5.04
2,Australia,Oil and oil products (PJ),Textiles and leather [ISIC 13-15],0.48,0.48,0.48,0.48,0.38,0.95,0.95,0.98,0.95,0.77,0.75,0.76,0.75,0.94,0.95,0.77,0.76
3,Australia,Oil and oil products (PJ),Wood and wood products [ISIC 16],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Australia,Oil and oil products (PJ),Paper pulp and printing [ISIC 17-18],2.56,2.95,1.74,0.64,0.68,0.77,0.82,0.73,0.64,0.49,0.48,0.47,0.67,2.32,2.37,2.57,2.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12469,Ukraine,Steel production (10^6 t),Memo: Coke and refined petroleum products [ISI...,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12470,Ukraine,Steel production (10^6 t),"Agriculture, forestry and fishing [ISIC 01-03]",x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12471,Ukraine,Steel production (10^6 t),Mining [ISIC 05-09],x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12472,Ukraine,Steel production (10^6 t),Construction [ISIC 41-43],x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12473,Ukraine,Steel production (10^6 t),General activity data,31.77,33.11,34.05,36.93,38.74,38.64,40.89,42.83,37.28,29.86,33.43,35.33,32.98,32.77,27.17,22.97,24.22

In [5]:
#Cross Walk with IEA data:
industries_correspondence = {
                'electronics' : (1.0, 'Machinery [ISIC 25-28]'), 
                'plastic' : (1.0, 'Rubber and plastic [ISIC 22]'), 
                'chemicals' : (1.0, 'Chemicals and chemical products [ISIC 20-21]'), 
                'cement' : (1.0, 'Of which: cement'),
                'glass' : (1.0, 'Non-metallic minerals [ISIC 23]'), 
                'other_product_manufacturing' : (1.0, 'Other manufacturing [ISIC 31-32]'), 
                'agriculture_and_livestock' : (1.0, 'Agriculture, forestry and fishing [ISIC 01-03]'), 
                'textiles' : (0.5, 'Textiles and leather [ISIC 13-15]'), 
                'rubber_and_leather' : (0.5, 'Textiles and leather [ISIC 13-15]'), 
                'metals' : (1.0, 'Basic metals [ISIC 24]'),  
                'lime_and_carbonite' : (1.0, 'Non-ferrous metals [ISIC 2420+2432]'), 
                'paper' : (1.0, 'Paper pulp and printing [ISIC 17-18]'),
                'recycled_wood' : (1.0, 'Wood and wood products [ISIC 16]') 
                }

In [6]:
df_enduse = df_eei.loc[(df_eei['PRODUCT/FLOW']=='Total final energy (PJ)') & 
                       (df_eei['ENDUSE']=='Paper pulp and printing [ISIC 17-18]')]
df_enduse

,COUNTRY,PRODUCT/FLOW,ENDUSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
151,Australia,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],74.26,71.81,59.03,62.39,64.11,65.86,67.00,70.13,70.49,64.14,67.56,65.40,62.74,60.65,58.92,58.29,60.20
529,Austria,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],60.61,65.13,61.51,65.11,63.57,66.64,66.87,67.96,67.32,66.16,70.51,68.08,64.94,69.76,67.72,66.05,70.56
907,Belgium,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],22.34,21.47,23.29,25.35,27.07,26.02,29.85,35.27,30.94,31.68,31.26,28.56,28.29,29.69,29.84,28.93,29.63
1285,Canada,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],738.57,677.01,701.87,694.33,757.45,692.69,627.91,607.62,533.33,490.57,466.50,454.24,438.96,467.85,466.93,482.51,457.52
1663,Czech Republic,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],26.38,22.76,26.57,17.25,18.78,25.83,26.07,28.34,26.19,25.29,24.72,25.25,25.11,25.09,26.09,25.61,27.00
2041,Denmark,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],5.34,5.69,5.51,5.82,5.85,5.30,5.34,4.94,5.92,5.84,6.10,5.26,3.39,3.92,3.33,3.27,3.10
2419,Finland,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],305.87,289.41,299.84,295.11,304.42,272.18,313.39,299.84,280.18,222.35,255.33,253.12,247.37,247.64,245.81,246.43,253.71
2797,France,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],141.81,142.22,150.25,150.90,145.05,157.73,155.82,136.31,123.86,108.74,120.78,113.89,109.21,118.57,114.62,112.43,120.06
3175,Germany,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],198.30,195.29,188.65,222.11,225.61,260.64,251.34,262.28,246.14,242.91,261.08,250.14,243.66,243.31,242.54,236.69,240.74
3553,Greece,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],7.07,6.67,6.78,7.31,5.83,5.34,6.11,6.12,5.82,5.15,5.09,3.85,4.01,4.10,4.13,3.49,2.01
3931,Hungary,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],6.86,6.99,7.30,7.49,7.09,7.12,7.34,6.74,6.98,5.74,6.64,6.55,7.14,8.07,8.26,7.95,8.55
4309,Ireland,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],2.82,2.75,2.63,2.49,2.40,1.77,1.58,0.87,0.97,1.03,1.08,1.08,1.01,1.03,1.02,1.07,1.11
4687,Italy,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],110.54,112.23,113.84,117.14,120.05,114.57,116.04,118.80,107.49,101.87,100.98,94.04,98.63,84.58,93.94,99.33,96.88
5065,Japan,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],464.29,438.53,444.97,442.99,444.69,448.30,436.07,432.12,397.44,368.40,379.29,373.33,367.57,373.93,361.85,358.61,354.65
5443,Korea,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],100.59,95.41,98.93,98.34,102.92,99.63,94.95,92.39,92.46,86.04,92.53,89.46,90.57,88.93,97.55,82.40,88.77
5821,Luxembourg,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],0.59,0.70,0.88,1.02,0.89,0.85,0.61,0.45,0.54,0.46,0.33,0.29,0.33,0.37,0.27,0.23,0.26
6199,Mexico,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],47.25,45.27,42.08,42.88,41.56,45.04,45.70,43.11,48.36,45.72,42.89,42.07,45.92,48.33,42.28,45.05,52.54
6577,Netherlands,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],44.21,41.92,43.40,42.46,42.59,42.94,41.98,39.96,37.43,30.92,30.35,28.34,28.40,28.58,25.14,23.47,23.99
6955,New Zealand,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],30.98,30.98,33.82,32.61,36.25,35.26,33.45,30.21,27.58,25.34,27.95,28.12,27.77,26.51,26.98,25.03,25.50
7333,Poland,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],46.92,46.49,47.09,50.22,51.04,50.54,49.94,49.91,48.36,50.28,53.22,51.58,53.77,65.82,64.95,65.97,68.92
7711,Portugal,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],52.12,50.20,49.13,50.74,45.95,49.28,49.32,49.87,51.57,50.74,53.59,54.58,57.26,58.84,54.89,56.57,57.23
8089,Slovak Republic,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],9.50,18.25,17.81,20.12,20.43,20.35,21.52,23.66,23.15,26.46,22.21,20.96,17.90,18.05,18.56,22.09,19.23
8467,Spain,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],87.63,80.10,91.25,111.65,95.95,104.18,91.46,100.60,91.11,80.68,59.83,69.69,77.71,77.29,75.36,70.49,68.85
8845,Sweden,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],253.68,240.05,235.66,234.90,231.93,236.02,255.64,260.16,250.45,249.91,257.63,249.04,247.62,245.60,238.42,243.94,240.46
9223,Switzerland,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],24.78,26.21,26.82,26.60,25.06,23.71,24.64,25.12,24.29,19.56,20.97,17.80,16.37,15.73,14.28,14.58,13.77
9601,Turkey,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],16.92,14.32,14.99,18.77,15.64,14.69,17.52,16.61,15.62,15.88,15.91,19.00,20.80,23.63,25.09,24.97,31.20
9979,United Kingdom,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],75.84,80.93,78.05,81.94,80.15,88.84,84.06,81.18,82.59,68.89,70.01,67.52,66.44,69.28,68.67,67.61,69.41
10357,United States,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],2713.92,2608.99,2554.18,2506.99,2447.24,2401.89,2382.98,2284.07,2140.44,1917.91,2254.74,2242.15,2089.69,2081.44,2023.45,1933.05,1875.98
10735,Morocco,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],1.17,0.41,0.50,0.52,2.95,2.65,2.56,2.49,2.58,2.40,2.63,3.02,3.66,4.16,4.03,3.83,3.39
11113,Armenia,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],0.02,0.01,0.01,0.02,0.02,0.02,0.02,0.03,0.05,0.03,0.02,0.04,0.02,0.02,0.19,0.21,0.22
11491,Belarus,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],5.39,5.95,5.66,5.57,6.04,6.04,5.86,5.68,5.57,4.23,5.00,5.10,6.08,5.06,4.83,4.27,3.63
11869,Republic of Moldova,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],0.22,0.19,0.30,0.34,0.98,0.66,0.58,0.68,0.32,0.14,0.13,0.11,0.13,0.13,0.12,0.11,0.11
12247,Ukraine,Total final energy (PJ),Paper pulp and printing [ISIC 17-18],2.16,2.67,2.93,3.06,4.46,5.25,5.51,13.33,13.44,11.73,11.70,12.26,11.94,11.71,10.00,9.22,8.87

In [7]:
years_hist=range(2010,2017)
golbal_mean={}
for y in years_hist:
    m=[float(val) for val in df_enduse[str(y)].values]
    golbal_mean[y]=np.mean(m)
golbal_mean

{2010: 146.0169696969697,
 2011: 143.7551515151515,
 2012: 138.31545454545451,
 2013: 139.62636363636366,
 2014: 136.97151515151515,
 2015: 134.05303030303034,
 2016: 132.66818181818184}

In [8]:
sub_continents = ['Australia and New Zealand',
 'Caribbean',
 'Central America',
 'Central Asia',
 'Eastern Africa',
 'Eastern Asia',
 'Eastern Europe',
 'Melanesia',
 'Micronesia',
 'Middle Africa',
 'Northern Africa',
 'Northern America',
 'Northern Europe',
 'Polynesia',
 'South America',
 'South-Eastern Asia',
 'Southern Africa',
 'Southern Asia',
 'Southern Europe',
 'Western Africa',
 'Western Asia',
 'Western Europe']
coun_year=[]
for cont in sub_continents:
    for year in years_hist:
        coun_year.append([cont,year,0])
        
df_meanEEI = pd.DataFrame(coun_year, columns=['sub_region', 'Year','meanEEI'])

for year in years_hist:
    for cont in sub_continents:
        set1 = set(df_country_continent.loc[df_country_continent['sub_region']== cont]['country'].values)
        set2 = set(df_enduse['COUNTRY'].values)

        common_countries = set1.intersection(set2)
        #print(cont,common_countries)
        mean_array=[]
        for count in common_countries:
            mean_array.append(float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(year)].values[0]))
        if mean_array == []:
            mean_array = [0]
        #print(mean_array)
        df_meanEEI.loc[(df_meanEEI['sub_region']==cont) & (df_meanEEI['Year']==year),'meanEEI']=np.mean(mean_array)
    
df_meanEEI.dropna(how='any')
df_meanEEI = df_meanEEI.drop(df_meanEEI.index[(df_meanEEI == 0).any(axis=1)])

df_meanEEI

                    sub_region  Year    meanEEI
0    Australia and New Zealand  2010  47.755000
1    Australia and New Zealand  2011  46.760000
2    Australia and New Zealand  2012  45.255000
3    Australia and New Zealand  2013  43.580000
4    Australia and New Zealand  2014  42.950000
..                         ...   ...        ...
149             Western Europe  2012  70.171429
150             Western Europe  2013  72.287143
151             Western Europe  2014  70.630000
152             Western Europe  2015  68.911429
153             Western Europe  2016  71.287143

[70 rows x 3 columns]

In [9]:
#### HISTORICAL ######
iso3 = set(df_ippu_all['iso_code3'].values)
coun_year=[]
for iso3 in iso3:
    count = df_countries.loc[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years_hist:
        coun_year.append([count,iso3,year,0])
df_historical_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_paper
0,Iceland,ISL,2010,0
1,Iceland,ISL,2011,0
2,Iceland,ISL,2012,0
3,Iceland,ISL,2013,0
4,Iceland,ISL,2014,0
...,...,...,...,...
1332,"Egypt, Arab Rep.",EGY,2012,0
1333,"Egypt, Arab Rep.",EGY,2013,0
1334,"Egypt, Arab Rep.",EGY,2014,0
1335,"Egypt, Arab Rep.",EGY,2015,0
1336,"Egypt, Arab Rep.",EGY,2016,0

In [10]:
for c,y in zip(df_historical_out['iso_code3'].values,df_historical_out['Year'].values):
    
    tonne = df_ippu_all.loc[(df_ippu_all['iso_code3']==c)&(df_ippu_all['Year']==y)][IPPU_var].values[0]
    
    count = df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(y)].values[0])*1e3

        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        df_historical_out.loc[(df_historical_out['iso_code3'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== count]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y]*1e3
            
        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        
        df_historical_out.loc[(df_historical_out['iso_code3'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_paper
0,Iceland,ISL,2010,2.329396
1,Iceland,ISL,2011,2.250909
2,Iceland,ISL,2012,2.466002
3,Iceland,ISL,2013,2.199972
4,Iceland,ISL,2014,1.947427
...,...,...,...,...
1332,"Egypt, Arab Rep.",EGY,2012,0.050700
1333,"Egypt, Arab Rep.",EGY,2013,0.055509
1334,"Egypt, Arab Rep.",EGY,2014,0.049098
1335,"Egypt, Arab Rep.",EGY,2015,0.046330
1336,"Egypt, Arab Rep.",EGY,2016,0.038877

In [11]:
#### Projected ######

years_proj=range(max(years_hist)+1,2051)

iso3 = set(df_ippu_all['iso_code3'].values)
coun_year=[]
for iso3 in iso3:
    count = df_countries.loc[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years_proj:
        coun_year.append([count,iso3,year,0])
        
df_projected_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_projected_out[var_name]=0
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_paper
0,Iceland,ISL,2017,0
1,Iceland,ISL,2018,0
2,Iceland,ISL,2019,0
3,Iceland,ISL,2020,0
4,Iceland,ISL,2021,0
...,...,...,...,...
6489,"Egypt, Arab Rep.",EGY,2046,0
6490,"Egypt, Arab Rep.",EGY,2047,0
6491,"Egypt, Arab Rep.",EGY,2048,0
6492,"Egypt, Arab Rep.",EGY,2049,0
6493,"Egypt, Arab Rep.",EGY,2050,0

In [12]:
y_hist_max = max(years_hist)
for c,y in zip(df_projected_out['iso_code3'].values,df_projected_out['Year'].values):
    
    tonne = df_ippu_all.loc[(df_ippu_all['iso_code3']==c)&(df_ippu_all['Year']==y)][IPPU_var].values[0]
    
    count = df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(y_hist_max)].values[0])*1e3

        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        df_projected_out.loc[(df_projected_out['iso_code3'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== count]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y_hist_max), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y_hist_max]*1e3
            
        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        
        df_projected_out.loc[(df_projected_out['iso_code3'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_paper
0,Iceland,ISL,2017,2.011649
1,Iceland,ISL,2018,1.981179
2,Iceland,ISL,2019,2.064171
3,Iceland,ISL,2020,2.010601
4,Iceland,ISL,2021,2.010601
...,...,...,...,...
6489,"Egypt, Arab Rep.",EGY,2046,0.014468
6490,"Egypt, Arab Rep.",EGY,2047,0.013809
6491,"Egypt, Arab Rep.",EGY,2048,0.013180
6492,"Egypt, Arab Rep.",EGY,2049,0.012579
6493,"Egypt, Arab Rep.",EGY,2050,0.012005

In [13]:
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')

In [14]:
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')