In [1]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

var_name=os.path.basename(parentdir)

var_name

'consumpinit_inen_energy_tj_per_tonne_production_rubber_and_leather'

In [2]:
import pandas as pd
import numpy as np

df_countries=pd.read_csv("../row_data/Countries_ISO3.csv")
df_countries
df_country_continent = pd.read_csv("../row_data/countryContinent.csv",encoding="ISO-8859-1")
df_country_continent.dropna(how='any')
df_country_continent

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [3]:
IPPU_folder = 'prodinit_ippu_rubber_and_leather_tonne'
IPPU_var = 'prodinit_ippu_rubber_and_leather_tonne'
df_ippu_hist = pd.read_csv(grandparentdir+'/IPPU/'+IPPU_folder+'/input_to_sisepuede/historical/'+IPPU_var+'.csv')
df_ippu_proj = pd.read_csv(grandparentdir+'/IPPU/'+IPPU_folder+'/input_to_sisepuede/projected/'+IPPU_var+'.csv')

code_ippu = list(set(df_ippu_proj['location_code'].values))

years_all = range(min(df_ippu_hist['year'].values),max(df_ippu_proj['year'].values)+1)
c_y_ippu = []
for c in code_ippu:
    for y in years_all:
    
        try:
            ippu = df_ippu_hist.loc[(df_ippu_hist['location_code']==c) & (df_ippu_hist['year']==y),][IPPU_var].values[0]
            
        except:
            ippu = df_ippu_proj.loc[(df_ippu_proj['location_code']==c) & (df_ippu_proj['year']==y)][IPPU_var].values[0]
            
        c_y_ippu.append([c,y,ippu])

df_ippu_all = pd.DataFrame(c_y_ippu,columns=['iso_code3', 'Year', IPPU_var])
df_ippu_all

     iso_code3  Year  prodinit_ippu_rubber_and_leather_tonne
0          VEN  2010                            32043.756375
1          VEN  2011                            36374.672259
2          VEN  2012                            35627.458565
3          VEN  2013                            18481.028949
4          VEN  2014                            17067.617613
...        ...   ...                                     ...
7826       LAO  2046                            28689.797808
7827       LAO  2047                            31366.000971
7828       LAO  2048                            34291.842121
7829       LAO  2049                            37490.607653
7830       LAO  2050                            40987.756132

[7831 rows x 3 columns]

In [4]:
#df_eei=pd.read_csv("../row_data/eei industry.csv")
df_eei=pd.read_csv("../row_data/IEA_Energy_Industry.csv")

df_eei

,COUNTRY,ENDUSE,PRODUCT/FLOW,2000,2001,2002,2003,2004,2005,2006,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Australia,Manufacturing [ISIC 10-18; 20-32],Oil and oil products (PJ) ...,117.58,91.59,88.38,111.41,122.11,129.29,133.41,...,161.91,179.86,155.11,155.37,118.72,106.86,97.51,101.08,100.39,97.74
1,Australia,Manufacturing [ISIC 10-18; 20-32],Gas (PJ) ...,314.61,339.39,338.58,343.29,352.22,325.43,322.22,...,330.12,325.92,339.72,346.59,334.74,322.67,309.67,311.85,298.23,303.55
2,Australia,Manufacturing [ISIC 10-18; 20-32],Coal and coal products (PJ) ...,231.33,201.89,178.75,209.41,223.34,226.59,225.07,...,230.37,191.49,184.76,177.97,170.35,197.53,208.32,205.26,196.51,190.24
3,Australia,Manufacturing [ISIC 10-18; 20-32],Biofuels and waste (PJ) ...,96.47,94.43,99.89,101.47,104.3,109.06,110.25,...,104.6,104.29,112.36,105.27,115.61,115.49,124.1,112.09,103.36,98.69
4,Australia,Manufacturing [ISIC 10-18; 20-32],Heat (PJ) ...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9755,Uzbekistan,Construction [ISIC 41-43],Biofuels and waste (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,0,0,0,0,..,..,..
9756,Uzbekistan,Construction [ISIC 41-43],Heat (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,0,0,0,0,..,..,..
9757,Uzbekistan,Construction [ISIC 41-43],Electricity (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,0.51,0.42,0.28,0.46,..,..,..
9758,Uzbekistan,Construction [ISIC 41-43],Other sources (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,0,0,0.01,0,..,..,..
9759,Uzbekistan,Construction [ISIC 41-43],Total final energy use (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,6.85,6.54,6.23,9.44,..,..,..

In [7]:
#Cross Walk with IEA data:
industries_correspondence = {
                'electronics' : (1.0, 'Machinery [ISIC 25-28]'), 
                'plastic' : (1.0, 'Rubber and plastic [ISIC 22]'), 
                'chemicals' : (1.0, 'Chemicals and chemical products [ISIC 20-21]'), 
                'cement' : (1.0, 'Of which: cement'),
                'glass' : (1.0, 'Non-metallic minerals [ISIC 23]'), 
                'other_product_manufacturing' : (1.0, 'Other manufacturing [ISIC 31-32]'), 
                'agriculture_and_livestock' : (1.0, 'Agriculture, forestry and fishing [ISIC 01-03]'), 
                'textiles' : (0.5, 'Textiles and leather [ISIC 13-15]'), 
                'rubber_and_leather' : (0.5, 'Textiles and leather [ISIC 13-15]'), 
                'metals' : (1.0, 'Basic metals [ISIC 24]'),  
                'lime_and_carbonite' : (1.0, 'Non-ferrous metals [ISIC 2420+2432]'), 
                'paper' : (1.0, 'Paper pulp and printing [ISIC 17-18]'),
                'recycled_wood' : (1.0, 'Wood and wood products [ISIC 16]') 
                }

In [5]:
fraction = 0.5
df_enduse = df_eei.loc[df_eei['ENDUSE']=='Textiles and leather [ISIC 13-15]']
df_enduse = df_enduse[df_enduse['PRODUCT/FLOW'].str.startswith('Total final energy use (PJ)')]
mask = (df_enduse == '..').any(axis=1)
df_enduse = df_enduse.drop(index=df_enduse[mask].index)
df_enduse

,COUNTRY,ENDUSE,PRODUCT/FLOW,2000,2001,2002,2003,2004,2005,2006,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
23,Australia,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,10.79,10.29,10.38,10.69,10.45,10.96,10.76,...,7.17,6.91,7.01,6.92,6.74,6.64,6.61,7.09,6.5,5.31
183,Austria,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,5.71,6.2,5.51,5.06,4.89,4.95,4.73,...,3.74,3.8,3.58,3.23,3,3.2,2.74,2.64,2.69,2.33
343,Belgium,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,16.42,15.69,15.07,14.4,12.95,12.39,12.3,...,8.93,8.72,9.11,7.51,7.9,7.36,7.66,7.82,7.01,6.02
503,Canada,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,18.77,17.75,17.35,16.32,15.27,12.94,11.68,...,7.63,7.93,8.66,7.23,6.65,6.3,6.25,5.24,5.04,3.94
663,Czech Republic,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,12.49,11.5,11.47,11.15,11.1,10.78,9.61,...,5.73,5.5,5.32,5.29,5.23,5.19,5.42,5.34,5.16,5.05
823,Denmark,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,2.32,2.35,2.27,2.16,2.15,1.51,1.43,...,1.08,0.81,0.8,0.71,0.7,0.68,0.71,0.67,0.65,0.66
983,Estonia,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,2.14,2.22,2.16,2.67,2.22,1.91,1.89,...,0.68,0.66,0.58,0.62,0.56,0.48,0.37,0.37,0.38,0.36
1143,Finland,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,2.36,2.28,2.13,2.07,1.91,1.7,1.76,...,1.3,1.57,1.37,1.22,1.1,1,0.92,0.88,0.76,0.8
1303,France,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,29.36,30.27,28.2,27.24,25.15,24.02,24.62,...,14.59,13.2,13.66,12.5,12.4,12.81,13.62,13.64,12.18,10.25
1463,Germany,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,38.77,38.24,36.5,36.5,32.59,31.99,30,...,24.19,23.29,20.76,19.88,21.93,20.19,20.25,19.53,17.66,15.55
1623,Greece,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,8.64,8.54,8.03,8.01,7.24,5.91,5.41,...,3.2,1.93,1.82,1.38,1.31,1.73,1.59,4.13,3.62,3.09
1783,Hungary,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,2.76,2.97,2.84,2.43,2.03,1.8,1.29,...,0.95,1.15,1.44,1.55,1.7,1.76,1.73,1.79,1.69,1.46
1943,Ireland,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,2.38,2.29,1.76,1.53,1.1,1.03,0.43,...,0.31,0.26,0.29,0.93,0.82,1.05,1.12,0.32,0.33,0.31
2103,Italy,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,113.36,112.52,113.77,114.06,106.94,99.77,94.53,...,49.88,50.28,48.85,47.63,46.33,46,48.7,47.17,46.8,41.74
2263,Japan,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,88.72,87.68,88.09,84.26,82.05,74.26,69.35,...,44.2,42.06,37.4,37.12,34.15,32.83,31.12,33.2,30.67,30
2423,Korea,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,177.11,171.57,156.31,151.63,153.04,139.34,127.86,...,101.95,93.83,84.97,84.12,80.72,81.03,81.31,81.94,76.77,69.57
2583,Lithuania,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,2.94,2.98,3.18,3.35,3.04,2.8,2.78,...,1.32,1.3,1.27,1.24,1.35,1.47,1.33,1.43,1.31,1.1
2743,Luxembourg,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,1.76,1.49,1.7,1.82,1.94,1.9,1.75,...,2.12,2.04,2.06,1.86,1.51,1.52,1.49,1.4,1.41,1.37
2903,Mexico,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,0.26,0.26,0.26,0.26,0.26,0.26,0.26,...,0.22,0.23,0.24,0.25,0.26,0.27,0.28,0.28,0.28,0.26
3063,Netherlands,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,8.37,7.81,7.49,7,6.23,5.19,4.79,...,4.32,4.34,4.37,3.66,3.84,3.9,3.81,3.83,3.98,3.78
3223,New Zealand,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,1.97,1.9,1.95,1.87,1.95,1.89,1.67,...,0.84,0.79,0.9,1.01,1.02,0.95,0.87,1.03,1.32,1.04
3383,Norway,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,1.11,0.99,0.98,0.98,0.88,0.84,0.89,...,0.38,0.36,0.39,0.38,0.45,0.34,0.34,0.31,0.45,0.32
3543,Poland,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,16.95,16.66,15.46,14.16,12.86,11.42,9.61,...,4.48,4.38,4.84,5.11,4.89,5.21,5.08,5.28,5.21,4.9
3703,Portugal,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,25.75,24.86,24.05,22.53,21.31,17.75,17.04,...,15.11,11.85,12.19,12.45,12.57,12.18,12.43,13.05,12.58,11.94
3863,Slovak Republic,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,3.71,2.59,2.89,2.94,3.34,2.76,2.02,...,2.06,1.46,1.19,1.57,1.17,1.12,1.1,0.99,0.94,0.82
4023,Spain,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,50.5,41.99,43.29,42.01,41.88,41.13,26.48,...,17.57,16.45,14.2,13.5,13.3,15.55,12.98,14.19,15.45,14.34
4183,Sweden,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,2.6,2.97,2.62,2.62,2.38,1.76,1.59,...,1.05,0.96,0.91,1.06,1.01,1.02,0.99,0.91,0.94,0.91
4343,Switzerland,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,4.11,4.15,3.36,3.06,3.13,2.73,2.82,...,2.21,2.22,2.17,2.11,2.06,1.8,1.83,1.8,1.79,1.66
4503,Republic of Türkiye,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,57.47,55.59,66.48,76.49,70.1,65.68,67.68,...,87.3,92.47,91.74,102.5,130.51,126.88,133.29,133.96,145.85,147.74
4663,United Kingdom,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,45.9,46.63,45.01,44.55,40.12,41.23,40.57,...,30.6,29.24,29.34,28.3,22.85,22.93,23.02,22.54,22,21.71
4823,United States,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,376.39,354.23,299.34,280.08,243.8,258.02,225.74,...,122.17,115.26,116.46,117.56,126.71,125.02,110.46,112.31,117.29,92.49
5143,Brazil,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,47.08,44.71,46.76,45.23,49.65,50.34,50.78,...,50.28,46.7,46.09,42.6,37.45,35.26,37.26,36.78,36.05,31.36
5303,Morocco,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,1.85,1.32,1.39,1.41,4.08,4.34,4.29,...,5.15,5.26,5.02,4.75,4.68,4.39,5.38,5.21,4.95,4.65
6103,Latvia,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,2.25,2.23,2.23,2.2,2.06,1.42,1.13,...,0.54,0.6,0.47,0.36,0.33,0.32,0.34,0.33,0.3,0.27
6263,Albania,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,1.69,1.72,1.3,1.16,0.65,0.61,0.82,...,0.49,0.55,0.64,0.71,0.55,0.6,0.61,0.58,0.63,0.63
6423,Armenia,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,0.01,0.01,0.02,0.02,0.02,0.02,0.03,...,0,0.01,0.01,0.05,0.04,0.05,0.06,0.07,0.09,0.09
7063,Bulgaria,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,4.82,4.82,4.83,5.33,5.2,5.04,5.21,...,2.91,2.71,2.8,2.61,2.79,2.8,2.79,2.77,2.58,2.18
7223,Croatia,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,2.35,2.4,2.27,2.08,2.19,2.04,1.81,...,1.25,1.26,1.14,1.13,1.15,1.08,1.05,1,1.01,0.86
7383,Cyprus,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,0.05,0.05,0.05,0.05,0.04,0.04,0.04,...,0.03,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02,0.02
7703,Hong Kong (China),Textiles and leather [ISIC 13-15],Total final energy use (PJ),3.39,3.05,2.92,2.9,3.02,2.74,2.25,...,0.81,0.7,0.58,0.45,0.36,0.26,0.19,0.16,0.14,0.13
8503,Republic of Moldova,Textiles and leather [ISIC 13-15],Total final energy use (PJ),0.27,0.43,0.36,0.4,0.54,0.43,0.34,...,0.25,0.26,0.24,0.26,0.23,0.24,0.3,0.3,0.29,0.25
8663,Republic of North Macedonia,Textiles and leather [ISIC 13-15],Total final energy use (PJ),1.2,0.94,0.85,0.77,0.74,1.12,0.88,...,0.49,0.48,0.53,0.56,0.49,0.48,0.49,0.5,0.46,0.44
8823,Romania,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,12.01,13.4,17.61,14.64,14.15,8.03,11.16,...,7.4,6.82,7.18,7.46,7.17,6.26,6.81,6.16,7.09,5.52
9143,Slovenia,Textiles and leather [ISIC 13-15],Total final energy use (PJ) ...,3.56,3.37,2.72,3.29,3.03,2.76,2.51,...,1.19,1.05,1.13,0.96,0.88,0.9,0.87,0.64,0.66,0.61

In [6]:
years_hist=range(2010,2017)
golbal_mean={}
for y in years_hist:
    m=[float(val) for val in df_enduse[str(y)].values]
    golbal_mean[y]=np.mean(m)
golbal_mean

{2010: 14.954545454545457,
 2011: 14.50159090909091,
 2012: 13.901590909090908,
 2013: 13.494090909090907,
 2014: 13.461818181818183,
 2015: 13.883636363636363,
 2016: 13.660681818181816}

In [7]:
sub_continents = ['Australia and New Zealand',
 'Caribbean',
 'Central America',
 'Central Asia',
 'Eastern Africa',
 'Eastern Asia',
 'Eastern Europe',
 'Melanesia',
 'Micronesia',
 'Middle Africa',
 'Northern Africa',
 'Northern America',
 'Northern Europe',
 'Polynesia',
 'South America',
 'South-Eastern Asia',
 'Southern Africa',
 'Southern Asia',
 'Southern Europe',
 'Western Africa',
 'Western Asia',
 'Western Europe']
coun_year=[]
for cont in sub_continents:
    for year in years_hist:
        coun_year.append([cont,year,0])
        
df_meanEEI = pd.DataFrame(coun_year, columns=['sub_region', 'Year','meanEEI'])

for year in years_hist:
    for cont in sub_continents:
        set1 = set(df_country_continent.loc[df_country_continent['sub_region']== cont]['country'].values)
        set2 = set(df_enduse['COUNTRY'].values)

        common_countries = set1.intersection(set2)
        #print(cont,common_countries)
        mean_array=[]
        for count in common_countries:
            mean_array.append(float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(year)].values[0]))
        if mean_array == []:
            mean_array = [0]
        #print(mean_array)
        df_meanEEI.loc[(df_meanEEI['sub_region']==cont) & (df_meanEEI['Year']==year),'meanEEI']=np.mean(mean_array)
    
df_meanEEI.dropna(how='any')
df_meanEEI = df_meanEEI.drop(df_meanEEI.index[(df_meanEEI == 0).any(axis=1)])

df_meanEEI

                    sub_region  Year   meanEEI
0    Australia and New Zealand  2010  4.740000
1    Australia and New Zealand  2011  4.005000
2    Australia and New Zealand  2012  3.850000
3    Australia and New Zealand  2013  3.955000
4    Australia and New Zealand  2014  3.965000
..                         ...   ...       ...
149             Western Europe  2012  8.230000
150             Western Europe  2013  7.958571
151             Western Europe  2014  7.250000
152             Western Europe  2015  7.520000
153             Western Europe  2016  7.254286

[77 rows x 3 columns]

In [8]:
#### HISTORICAL ######
iso3 = set(df_ippu_all['iso_code3'].values)
coun_year=[]
for iso3 in iso3:
    count = df_countries.loc[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years_hist:
        coun_year.append([count,iso3,year,0])
df_historical_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_rubber_and_leather
0,"Venezuela, RB",VEN,2010,0
1,"Venezuela, RB",VEN,2011,0
2,"Venezuela, RB",VEN,2012,0
3,"Venezuela, RB",VEN,2013,0
4,"Venezuela, RB",VEN,2014,0
...,...,...,...,...
1332,Lao PDR,LAO,2012,0
1333,Lao PDR,LAO,2013,0
1334,Lao PDR,LAO,2014,0
1335,Lao PDR,LAO,2015,0
1336,Lao PDR,LAO,2016,0

In [9]:
for c,y in zip(df_historical_out['iso_code3'].values,df_historical_out['Year'].values):
    
    tonne = df_ippu_all.loc[(df_ippu_all['iso_code3']==c)&(df_ippu_all['Year']==y)][IPPU_var].values[0]
    
    count = df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(y)].values[0])*1e3

        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        df_historical_out.loc[(df_historical_out['iso_code3'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato*fraction
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== count]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y]*1e3
            
        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        
        df_historical_out.loc[(df_historical_out['iso_code3'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato*fraction
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_rubber_and_leather
0,"Venezuela, RB",VEN,2010,0.233346
1,"Venezuela, RB",VEN,2011,0.199336
2,"Venezuela, RB",VEN,2012,0.195097
3,"Venezuela, RB",VEN,2013,0.365080
4,"Venezuela, RB",VEN,2014,0.394367
...,...,...,...,...
1332,Lao PDR,LAO,2012,2.649114
1333,Lao PDR,LAO,2013,2.145242
1334,Lao PDR,LAO,2014,1.959031
1335,Lao PDR,LAO,2015,1.723072
1336,Lao PDR,LAO,2016,1.342200

In [10]:
#### Projected ######

years_proj=range(max(years_hist)+1,2051)

iso3 = set(df_ippu_all['iso_code3'].values)
coun_year=[]
for iso3 in iso3:
    count = df_countries.loc[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years_proj:
        coun_year.append([count,iso3,year,0])
        
df_projected_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_projected_out[var_name]=0
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_rubber_and_leather
0,"Venezuela, RB",VEN,2017,0
1,"Venezuela, RB",VEN,2018,0
2,"Venezuela, RB",VEN,2019,0
3,"Venezuela, RB",VEN,2020,0
4,"Venezuela, RB",VEN,2021,0
...,...,...,...,...
6489,Lao PDR,LAO,2046,0
6490,Lao PDR,LAO,2047,0
6491,Lao PDR,LAO,2048,0
6492,Lao PDR,LAO,2049,0
6493,Lao PDR,LAO,2050,0

In [11]:
y_hist_max = max(years_hist)
for c,y in zip(df_projected_out['iso_code3'].values,df_projected_out['Year'].values):
    
    tonne = df_ippu_all.loc[(df_ippu_all['iso_code3']==c)&(df_ippu_all['Year']==y)][IPPU_var].values[0]
    
    count = df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(y_hist_max)].values[0])*1e3

        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        df_projected_out.loc[(df_projected_out['iso_code3'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato*0.5
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== count]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y_hist_max), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y_hist_max]*1e3
            
        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        
        df_projected_out.loc[(df_projected_out['iso_code3'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato*0.5
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_rubber_and_leather
0,"Venezuela, RB",VEN,2017,0.244649
1,"Venezuela, RB",VEN,2018,0.244649
2,"Venezuela, RB",VEN,2019,0.244649
3,"Venezuela, RB",VEN,2020,0.244649
4,"Venezuela, RB",VEN,2021,0.244649
...,...,...,...,...
6489,Lao PDR,LAO,2046,0.238076
6490,Lao PDR,LAO,2047,0.217763
6491,Lao PDR,LAO,2048,0.199183
6492,Lao PDR,LAO,2049,0.182188
6493,Lao PDR,LAO,2050,0.166643

In [12]:
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')

In [13]:
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')